Repository reactive-python/reactpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

lint-py-fix:
  name: Fix Python Lint
  entry: hatch run lint-py
  language: system
  args:
  - --fix
  pass_filenames: false

lint-js-fix:
  name: Fix JS Lint
  entry: hatch run lint-js --fix
  language: system
  pass_filenames: false

lint-py-check:
  name: Check Python Lint
  entry: hatch run lint-py
  language: system
  pass_filenames: false

lint-js-check:
  name: Check JS Lint
  entry: hatch run lint-py
  language: system
  pass_filenames: false

proper handling of false positives
  src/reactpy/core/events.py
  tests/test_core/test_events.py
Due: lint-py-fix, lint-py-check

Support dot notation callbacks on events (#1308)
  docs/source/about/changelog.rst
  src/reactpy/__init__.py
  src/reactpy/core/events.py
  src/reactpy/core/layout.py
  tests/test_core/test_events.py
Due: lint-py-fix, lint-py-check

2.0.0b3
  src/reactpy/__init__.py
Due: lint-py-fix, lint-py-check

2.0.0b3 (#1309)
  src/reactpy/__init__.py
Due: lint-py-fix, lint-py-check

fix merge error: duplicate json key
  src/js/bun.lockb
  src/js/packages/@reactpy/client/package.json
Due: none

self review
  docs/source/about/changelog.rst
Due: none

Small tweaks to v2 to encourage simplicity (#1297)
  docs/source/about/changelog.rst
  pyproject.toml
  src/js/bun.lockb
  src/js/packages/@reactpy/app/bun.lockb
  src/js/packages/@reactpy/client/bun.lockb
  src/js/packages/event-to-object/bun.lockb
  src/reactpy/executors/asgi/__init__.py
  src/reactpy/executors/asgi/pyscript.py
  src/reactpy/pyscript/component_template.py
  src/reactpy/pyscript/layout_handler.py
  src/reactpy/templatetags/__init__.py
  src/reactpy/templatetags/jinja.py
  tests/test_asgi/test_middleware.py
  tests/test_asgi/test_pyscript.py
Due: lint-py-fix, lint-py-check

Fix client publishing workflow
  .github/workflows/publish.yml
Due: none

Fix client NPM publishing workflow (#1310)
  .github/workflows/publish.yml
Due: none

warn & pass through non objects in `event-to-object`
  src/js/packages/event-to-object/src/index.ts
  src/js/packages/event-to-object/tests/event-to-object.test.ts
Due: lint-js-fix, lint-js-check

only convert event if it is an object in reactpy client
  src/js/packages/@reactpy/client/src/client.ts
  src/js/packages/@reactpy/client/src/vdom.tsx
Due: lint-js-fix, lint-js-check

add exception in `use_effect` if user provides an async hook function
  src/reactpy/core/hooks.py
  tests/test_core/test_hooks.py
Due: lint-py-fix, lint-py-check

remove internal json pointer dependency
  src/reactpy/pyscript/utils.py
Due: lint-py-fix, lint-py-check

add better type hints to `reactjs_component_from_*`
  docs/source/about/changelog.rst
  src/reactpy/web/module.py
Due: lint-py-fix, lint-py-check

bump package versions
  src/js/packages/@reactpy/client/package.json
  src/js/packages/event-to-object/package.json
  src/reactpy/__init__.py
Due: lint-py-fix, lint-py-check

move Event to types & remove reactpy.Layout
  docs/source/about/changelog.rst
  src/reactpy/__init__.py
  src/reactpy/core/events.py
  src/reactpy/core/layout.py
  src/reactpy/types.py
  tests/test_core/test_events.py
  tests/test_core/test_hooks.py
  tests/test_core/test_layout.py
  tests/test_core/test_serve.py
Due: lint-py-fix, lint-py-check

remove deprecated Stop exception type
  src/reactpy/core/serve.py
Due: lint-py-fix, lint-py-check

remove deprecated hotswap function
  src/reactpy/widgets.py
Due: lint-py-fix, lint-py-check

add changelog
  docs/source/about/changelog.rst
Due: none

hatch fmt src
  src/build_scripts/copy_dir.py
  src/reactpy/core/serve.py
Due: lint-py-fix, lint-py-check

export preact in reactpy client
  src/js/packages/@reactpy/client/src/index.ts
Due: lint-js-fix, lint-js-check

use new addops syntax
  pyproject.toml
Due: none

fix build error
  src/js/packages/@reactpy/client/src/index.ts
Due: lint-js-fix, lint-js-check

v2.0.0b4 (#1311)
  docs/source/about/changelog.rst
  pyproject.toml
  src/build_scripts/copy_dir.py
  src/js/packages/@reactpy/client/package.json
  src/js/packages/@reactpy/client/src/client.ts
  src/js/packages/@reactpy/client/src/index.ts
  src/js/packages/@reactpy/client/src/vdom.tsx
  src/js/packages/event-to-object/package.json
  src/js/packages/event-to-object/src/index.ts
  src/js/packages/event-to-object/tests/event-to-object.test.ts
  src/reactpy/__init__.py
  src/reactpy/core/events.py
  src/reactpy/core/hooks.py
  src/reactpy/core/layout.py
  src/reactpy/core/serve.py
  src/reactpy/pyscript/utils.py
  src/reactpy/types.py
  src/reactpy/web/module.py
  src/reactpy/widgets.py
  tests/test_core/test_events.py
  tests/test_core/test_hooks.py
  tests/test_core/test_layout.py
  tests/test_core/test_serve.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

bump python>=3.10 then run `hatch fmt`
  pyproject.toml
  src/reactpy/_console/rewrite_props.py
  src/reactpy/_option.py
  src/reactpy/core/_life_cycle_hook.py
  src/reactpy/core/_thread_local.py
  src/reactpy/core/component.py
  src/reactpy/core/events.py
  src/reactpy/core/hooks.py
  src/reactpy/core/layout.py
  src/reactpy/core/serve.py
  src/reactpy/core/vdom.py
  src/reactpy/executors/asgi/standalone.py
  src/reactpy/executors/asgi/types.py
  src/reactpy/testing/backend.py
  src/reactpy/testing/common.py
  src/reactpy/types.py
  src/reactpy/utils.py
  src/reactpy/widgets.py
Due: lint-py-fix, lint-py-check

reorganize changelog
  docs/source/about/changelog.rst
Due: none

remove `ComponentType`, replace with `Component`
  src/reactpy/core/_life_cycle_hook.py
  src/reactpy/core/component.py
  src/reactpy/core/layout.py
  src/reactpy/core/vdom.py
  src/reactpy/pyscript/components.py
  src/reactpy/types.py
  src/reactpy/utils.py
Due: lint-py-fix, lint-py-check

Better error msg if optional dependencies are missing
  src/reactpy/executors/asgi/__init__.py
Due: lint-py-fix, lint-py-check

Remove `ContextProviderType`, replace with `ContextProvider`
  src/reactpy/core/_life_cycle_hook.py
  src/reactpy/core/hooks.py
  src/reactpy/core/layout.py
  src/reactpy/types.py
Due: lint-py-fix, lint-py-check

Remove unsafe orjson dependency
  src/reactpy/pyscript/utils.py
Due: lint-py-fix, lint-py-check

Support auto-naming for ReactJS component imports
  src/reactpy/web/module.py
Due: lint-py-fix, lint-py-check

Make `ContextProvider` inherit from `Component`
  src/reactpy/core/layout.py
  src/reactpy/types.py
  tests/test_core/test_layout.py
  tests/test_web/test_module.py
Due: lint-py-fix, lint-py-check

fix pyscript tests
  src/reactpy/pyscript/utils.py
Due: lint-py-fix, lint-py-check

`EventHandlerType` -> `BaseEventHandler`
  src/reactpy/core/events.py
  src/reactpy/core/vdom.py
  src/reactpy/types.py
Due: lint-py-fix, lint-py-check

`LayoutType` -> `BaseLayout`
  src/reactpy/core/layout.py
  src/reactpy/core/serve.py
  src/reactpy/types.py
Due: lint-py-fix, lint-py-check

use remote `event-to-object` copy in `reactpy/client`
  src/js/package.json
Due: none

Remove `pip` dependency
  pyproject.toml
  src/js/bun.lockb
  src/reactpy/pyscript/utils.py
Due: lint-py-fix, lint-py-check

bump version
  src/reactpy/__init__.py
Due: lint-py-fix, lint-py-check

bump reactpy client
  src/js/packages/@reactpy/client/package.json
Due: none

Path conditions:
  lint-py-fix: any of: \.py$
  lint-js-fix: any of: \.(js|jsx|ts|tsx)$
  lint-py-check: any of: \.py$
  lint-js-check: any of: \.(js|jsx|ts|tsx)$
