Repository reactive-python/reactpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint-py-fix
        name: Fix Python Lint
        entry: hatch run lint-py
        language: system
        args: [--fix]
        pass_filenames: false
        files: \.py$
  - repo: local
    hooks:
      - id: lint-js-fix
        name: Fix JS Lint
        entry: hatch run lint-js --fix
        language: system
        pass_filenames: false
        files: \.(js|jsx|ts|tsx)$
  - repo: local
    hooks:
      - id: lint-py-check
        name: Check Python Lint
        entry: hatch run lint-py
        language: system
        pass_filenames: false
        files: \.py$
  - repo: local
    hooks:
      - id: lint-js-check
        name: Check JS Lint
        entry: hatch run lint-py
        language: system
        pass_filenames: false
        files: \.(js|jsx|ts|tsx)$

rename config option
  docs/source/about/changelog.rst
  src/py/reactpy/reactpy/config.py
  src/py/reactpy/reactpy/core/layout.py
  src/py/reactpy/tests/conftest.py
  src/py/reactpy/tests/test_core/test_layout.py
Due: lint-py-fix, lint-py-check

move effect kick-off into component did render
  src/py/reactpy/reactpy/core/_life_cycle_hook.py
Due: lint-py-fix, lint-py-check

move effect start to back to layout render
  src/py/reactpy/reactpy/core/_life_cycle_hook.py
Due: lint-py-fix, lint-py-check

try 3.x again
  .github/workflows/.hatch-run.yml
Due: none

require tracerite 1.1.1
  src/py/reactpy/pyproject.toml
Due: none

fix docs build
  .github/workflows/check.yml
Due: none

Concurrent Renders (#1165)
  .github/workflows/.hatch-run.yml
  .github/workflows/check.yml
  docs/source/about/changelog.rst
  src/py/reactpy/pyproject.toml
  src/py/reactpy/reactpy/_option.py
  src/py/reactpy/reactpy/backend/hooks.py
  src/py/reactpy/reactpy/config.py
  src/py/reactpy/reactpy/core/_life_cycle_hook.py
  src/py/reactpy/reactpy/core/hooks.py
  src/py/reactpy/reactpy/core/layout.py
  src/py/reactpy/reactpy/core/types.py
  src/py/reactpy/reactpy/testing/common.py
  src/py/reactpy/reactpy/types.py
  src/py/reactpy/tests/conftest.py
  src/py/reactpy/tests/test_backend/test_all.py
  src/py/reactpy/tests/test_client.py
  src/py/reactpy/tests/test_core/test_hooks.py
  src/py/reactpy/tests/test_core/test_layout.py
  src/py/reactpy/tests/test_core/test_serve.py
  src/py/reactpy/tests/tooling/aio.py
  src/py/reactpy/tests/tooling/loop.py
Due: lint-py-fix, lint-py-check

fix docker nodejs install
  docs/Dockerfile
Due: none

use install script
  docs/Dockerfile
Due: none

update nodejs install method in docker (#1168)
  docs/Dockerfile
Due: none

better async effects
  docs/source/reference/hooks-api.rst
  src/py/reactpy/reactpy/core/_life_cycle_hook.py
  src/py/reactpy/reactpy/core/hooks.py
  src/py/reactpy/tests/test_core/test_hooks.py
Due: lint-py-fix, lint-py-check

add changelog entry
  docs/source/about/changelog.rst
Due: none

3.9 compat annotations
  src/py/reactpy/reactpy/core/hooks.py
Due: lint-py-fix, lint-py-check

fix strict equality tests
  src/py/reactpy/tests/test_core/test_hooks.py
Due: lint-py-fix, lint-py-check

fix strict eq effect test
  src/py/reactpy/tests/test_core/test_hooks.py
Due: lint-py-fix, lint-py-check

fix strict eq effect test (#1170)
  src/py/reactpy/tests/test_core/test_hooks.py
Due: lint-py-fix, lint-py-check

skip rendering none
  src/py/reactpy/reactpy/core/layout.py
  src/py/reactpy/reactpy/core/types.py
  src/py/reactpy/tests/test_core/test_layout.py
Due: lint-py-fix, lint-py-check

add changelog
  docs/source/about/changelog.rst
Due: none

conditional render none should not reset state for sibling components
  src/py/reactpy/tests/test_core/test_layout.py
Due: lint-py-fix, lint-py-check

minor renaming + better changelog
  docs/source/about/changelog.rst
  src/py/reactpy/reactpy/core/layout.py
Due: lint-py-fix, lint-py-check

misc fixes
  docs/source/about/changelog.rst
  src/py/reactpy/reactpy/__init__.py
  src/py/reactpy/reactpy/core/serve.py
  src/py/reactpy/tests/test_core/test_serve.py
Due: lint-py-fix, lint-py-check

raises exceptiongroup
  src/py/reactpy/tests/test_core/test_serve.py
Due: lint-py-fix, lint-py-check

skipif
  src/py/reactpy/tests/test_core/test_serve.py
Due: lint-py-fix, lint-py-check

handle egroup in starlette
  src/py/reactpy/pyproject.toml
  src/py/reactpy/reactpy/backend/starlette.py
Due: lint-py-fix, lint-py-check

final nocov
  src/py/reactpy/reactpy/backend/starlette.py
Due: lint-py-fix, lint-py-check

Skip rendering None in all situations (#1171)
  docs/source/about/changelog.rst
  src/py/reactpy/pyproject.toml
  src/py/reactpy/reactpy/__init__.py
  src/py/reactpy/reactpy/backend/starlette.py
  src/py/reactpy/reactpy/core/layout.py
  src/py/reactpy/reactpy/core/serve.py
  src/py/reactpy/reactpy/core/types.py
  src/py/reactpy/tests/test_core/test_layout.py
  src/py/reactpy/tests/test_core/test_serve.py
Due: lint-py-fix, lint-py-check

refactor!: move src/js/ to src/js/reactpy/js/
  src/py/reactpy/js/.eslintrc.json
  src/py/reactpy/js/.gitignore
  src/py/reactpy/js/README.md
  src/py/reactpy/js/app/.eslintrc.json
  src/py/reactpy/js/app/index.html
  src/py/reactpy/js/app/package-lock.json
  src/py/reactpy/js/app/package.json
  src/py/reactpy/js/app/public/assets/reactpy-logo.ico
  src/py/reactpy/js/app/src/index.ts
  src/py/reactpy/js/app/tsconfig.json
  src/py/reactpy/js/app/vite.config.js
  src/py/reactpy/js/package-lock.json
  src/py/reactpy/js/package.json
  src/py/reactpy/js/packages/@reactpy/client/.gitignore
  src/py/reactpy/js/packages/@reactpy/client/README.md
  src/py/reactpy/js/packages/@reactpy/client/package.json
  src/py/reactpy/js/packages/@reactpy/client/src/components.tsx
  src/py/reactpy/js/packages/@reactpy/client/src/index.ts
  src/py/reactpy/js/packages/@reactpy/client/src/logger.ts
  src/py/reactpy/js/packages/@reactpy/client/src/messages.ts
  src/py/reactpy/js/packages/@reactpy/client/src/mount.tsx
  src/py/reactpy/js/packages/@reactpy/client/src/reactpy-client.ts
  src/py/reactpy/js/packages/@reactpy/client/src/reactpy-vdom.tsx
  src/py/reactpy/js/packages/@reactpy/client/tsconfig.json
  src/py/reactpy/js/packages/event-to-object/package.json
  src/py/reactpy/js/packages/event-to-object/src/events.ts
  src/py/reactpy/js/packages/event-to-object/src/index.ts
  src/py/reactpy/js/packages/event-to-object/tests/event-to-object.test.ts
  src/py/reactpy/js/packages/event-to-object/tests/tooling/check.ts
  src/py/reactpy/js/packages/event-to-object/tests/tooling/mock.ts
  src/py/reactpy/js/packages/event-to-object/tests/tooling/setup.js
  src/py/reactpy/js/packages/event-to-object/tsconfig.json
  src/py/reactpy/js/packages/event-to-object/tsconfig.tests.json
  src/py/reactpy/js/tsconfig.package.json
Due: lint-js-fix, lint-js-check

build: include js/ directory in source distributions
  src/py/reactpy/pyproject.toml
Due: none

build: update hatch work_dir for the new js/ location
  src/py/reactpy/pyproject.toml
Due: none

build: don't build client during sdist creation
  src/py/reactpy/pyproject.toml
Due: none

build: ensure _static/ files are included in wheel
  src/py/reactpy/pyproject.toml
Due: none

build: copy gitignore entries for hatch's file selection
  src/py/reactpy/.gitignore
Due: none

docs: fix obsolete paths to src/js/ in contributing guide
  docs/source/about/contributor-guide.rst
Due: none

Change note to abstract
  docs/src/learn/editor-setup.md
  docs/src/learn/start-a-new-react-project.md
  docs/src/learn/tutorial-tic-tac-toe.md
  docs/src/learn/writing-markup-with-psx.md
Due: none

html can now return none
  docs/examples/python/tutorial_tic_tac_toe/tic_tac_toe.py
Due: lint-py-fix, lint-py-check

build: delete node_modules when building sdist
  src/py/reactpy/hatch_build_sdist.py
  src/py/reactpy/pyproject.toml
Due: lint-py-fix, lint-py-check

fix: update tasks.py for the new js/ location
  tasks.py
Due: lint-py-fix, lint-py-check

docs: add changelog entry for #1183
  docs/source/about/changelog.rst
Due: none

Remove settings.json
  .vscode/settings.json
Due: none

Update pull request template
  .github/pull_request_template.md
Due: none
