Repository reactive-python/reactpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint-py-fix
        name: Fix Python Lint
        entry: hatch run lint-py
        language: system
        args: [--fix]
        pass_filenames: false
        files: \.py$
  - repo: local
    hooks:
      - id: lint-js-fix
        name: Fix JS Lint
        entry: hatch run lint-js --fix
        language: system
        pass_filenames: false
        files: \.(js|jsx|ts|tsx)$
  - repo: local
    hooks:
      - id: lint-py-check
        name: Check Python Lint
        entry: hatch run lint-py
        language: system
        pass_filenames: false
        files: \.py$
  - repo: local
    hooks:
      - id: lint-js-check
        name: Check JS Lint
        entry: hatch run lint-py
        language: system
        pass_filenames: false
        files: \.(js|jsx|ts|tsx)$

add --max-worker-restart
  pyproject.toml
Due: none

remove unused import
  tests/test_reactjs/js_fixtures/subcomponent-notation.js
  tests/test_web/js_fixtures/subcomponent-notation.js
Due: lint-js-fix, lint-js-check

Attempt increasing timeout
  .github/workflows/.hatch-run.yml
  pyproject.toml
Due: none

Increase re-runs on github
  tests/test_reactjs/test_modules_from_npm.py
Due: lint-py-fix, lint-py-check

Add logging for failed http requests
  src/reactpy/testing/display.py
Due: lint-py-fix, lint-py-check

Try setting up a RAM disk
  .github/workflows/.hatch-run.yml
Due: none

ry setting hatch to use R drive
  .github/workflows/.hatch-run.yml
Due: none

symlink playwright to ram drive
  .github/workflows/.hatch-run.yml
Due: none

use powershell cmd
  .github/workflows/.hatch-run.yml
Due: none

try different path
  .github/workflows/.hatch-run.yml
Due: none

Remove ram drive, try using github cache
  .github/workflows/.hatch-run.yml
Due: none

Remove unneeded caplog fixtures
  tests/test_asgi/test_middleware.py
  tests/test_core/test_hooks.py
  tests/test_core/test_layout.py
  tests/test_reactjs/test_utils.py
Due: lint-py-fix, lint-py-check

Replace `print` with `logger.*` in `DisplayFixture`
  src/reactpy/testing/display.py
Due: lint-py-fix, lint-py-check

automagically bind `react` and `react-dom` if missing from page
  src/js/packages/@reactpy/client/src/bind.tsx
  src/reactpy/executors/utils.py
  src/reactpy/reactjs/module.py
  tests/test_reactjs/test_modules_from_npm.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

Use ReactPyClient type hint instead of client interface
  src/js/packages/@reactpy/client/src/components.tsx
  src/js/packages/@reactpy/client/src/vdom.tsx
Due: lint-js-fix, lint-js-check

specifically install `chromium` dependencies
  src/build_scripts/install_playwright.py
Due: lint-py-fix, lint-py-check

fix broken tests
  tests/test_asgi/test_middleware.py
  tests/test_reactjs/test_modules_from_npm.py
Due: lint-py-fix, lint-py-check

bump version string
  src/reactpy/__init__.py
Due: lint-py-fix, lint-py-check

Move pyscript code into `reactpy.executors.pyscript`
  src/reactpy/__init__.py
  src/reactpy/core/_thread_local.py
  src/reactpy/core/hooks.py
  src/reactpy/executors/asgi/pyscript.py
  src/reactpy/executors/asgi/standalone.py
  src/reactpy/executors/pyscript/__init__.py
  src/reactpy/executors/pyscript/component_template.py
  src/reactpy/executors/pyscript/components.py
  src/reactpy/executors/pyscript/layout_handler.py
  src/reactpy/executors/pyscript/utils.py
  src/reactpy/templatetags/jinja.py
  tests/test_pyscript/test_utils.py
Due: lint-py-fix, lint-py-check

fix coverage
  pyproject.toml
Due: none

V2.0.0b7 (#1318)
  pyproject.toml
  src/build_scripts/install_playwright.py
  src/js/packages/@reactpy/client/src/bind.tsx
  src/js/packages/@reactpy/client/src/components.tsx
  src/js/packages/@reactpy/client/src/vdom.tsx
  src/reactpy/__init__.py
  src/reactpy/core/_thread_local.py
  src/reactpy/core/hooks.py
  src/reactpy/executors/asgi/pyscript.py
  src/reactpy/executors/asgi/standalone.py
  src/reactpy/executors/pyscript/__init__.py
  src/reactpy/executors/pyscript/component_template.py
  src/reactpy/executors/pyscript/components.py
  src/reactpy/executors/pyscript/layout_handler.py
  src/reactpy/executors/pyscript/utils.py
  src/reactpy/executors/utils.py
  src/reactpy/reactjs/module.py
  src/reactpy/templatetags/jinja.py
  src/reactpy/testing/display.py
  tests/test_asgi/test_middleware.py
  tests/test_core/test_hooks.py
  tests/test_core/test_layout.py
  tests/test_pyscript/test_utils.py
  tests/test_reactjs/test_modules_from_npm.py
  tests/test_reactjs/test_utils.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

Use NPM Trusted Publishing
  .github/workflows/publish.yml
Due: none

fix tsc build
  src/build_scripts/build_js_app.py
  src/build_scripts/build_js_client.py
  src/build_scripts/build_js_event_to_object.py
  src/js/packages/@reactpy/client/src/components.tsx
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

Use NPM Trusted Publishing (#1321)
  .github/workflows/publish.yml
  src/build_scripts/build_js_app.py
  src/build_scripts/build_js_client.py
  src/build_scripts/build_js_event_to_object.py
  src/js/packages/@reactpy/client/src/components.tsx
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

Handle empty tagName by using Fragment
  src/js/packages/@reactpy/client/src/vdom.tsx
Due: lint-js-fix, lint-js-check

Adds test for bugfix
  tests/test_reactjs/js_fixtures/nest-custom-under-web.js
  tests/test_web/js_fixtures/nest-custom-under-web.js
  tests/test_web/test_module.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

another fix attempt for trusted publishing
  pyproject.toml
Due: none

fix `use_async_effect` cleanup functions not executed in 2.0.0b7 Fixes #1327
  docs/source/about/changelog.rst
  src/reactpy/core/hooks.py
  tests/test_core/test_hooks.py
Due: lint-py-fix, lint-py-check

fix `use_async_effect` cleanup not executed when dependencies change (#1328)
  docs/source/about/changelog.rst
  pyproject.toml
  src/reactpy/core/hooks.py
  tests/test_core/test_hooks.py
Due: lint-py-fix, lint-py-check

Refactor and fix lint
  src/js/packages/@reactpy/client/src/vdom.tsx
  tests/test_reactjs/test_modules.py
  tests/test_web/__init__.py
  tests/test_web/js_fixtures/nest-custom-under-web.js
  tests/test_web/test_module.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

Fix SSR `@component` functions rendering under CSR components (#1324)
  src/js/packages/@reactpy/client/src/vdom.tsx
  tests/test_reactjs/js_fixtures/nest-custom-under-web.js
  tests/test_reactjs/test_modules.py
  tests/test_web/__init__.py
  tests/test_web/test_module.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

potentially fix flaky tests (specifically on github)
  tests/test_reactjs/test_modules.py
  tests/test_web/test_module.py
  tests/test_widgets.py
Due: lint-py-fix, lint-py-check

run hatch fmt on legacy docs
  docs/docs_app/examples.py
  docs/docs_app/prod.py
  docs/source/guides/adding-interactivity/dangers-of-mutability/_examples/list_replace.py
  docs/source/reference/_examples/matplotlib_plot.py
  docs/source/reference/_examples/simple_dashboard.py
  docs/source/reference/_examples/snake_game.py
Due: lint-py-fix, lint-py-check

Temporarily pin esm.sh to v135
  src/reactpy/reactjs/__init__.py
  src/reactpy/reactjs/module.py
  tests/test_reactjs/js_fixtures/keys-properly-propagated.js
  tests/test_reactjs/js_fixtures/nest-custom-under-web.js
  tests/test_reactjs/test_modules_from_npm.py
  tests/test_web/js_fixtures/keys-properly-propagated.js
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

Another attempt at fixing NPM publishing
  .github/workflows/.hatch-run.yml
  pyproject.toml
Due: none

Fix key propogation test
  tests/test_web/js_fixtures/keys-properly-propagated.js
Due: lint-js-fix, lint-js-check

2.0.0b8 (#1329)
  .github/workflows/.hatch-run.yml
  docs/docs_app/examples.py
  docs/docs_app/prod.py
  docs/source/guides/adding-interactivity/dangers-of-mutability/_examples/list_replace.py
  docs/source/reference/_examples/matplotlib_plot.py
  docs/source/reference/_examples/simple_dashboard.py
  docs/source/reference/_examples/snake_game.py
  pyproject.toml
  src/reactpy/__init__.py
  src/reactpy/reactjs/__init__.py
  src/reactpy/reactjs/module.py
  tests/test_reactjs/js_fixtures/keys-properly-propagated.js
  tests/test_reactjs/js_fixtures/nest-custom-under-web.js
  tests/test_reactjs/test_modules.py
  tests/test_reactjs/test_modules_from_npm.py
  tests/test_web/js_fixtures/keys-properly-propagated.js
  tests/test_web/test_module.py
  tests/test_widgets.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

Give NPM id-token write capability
  .github/workflows/publish.yml
  docs/source/about/changelog.rst
Due: none
