Repository reactive-python/reactpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint-py-fix
        name: Fix Python Lint
        entry: hatch run lint-py
        language: system
        args: [--fix]
        pass_filenames: false
        files: \.py$
  - repo: local
    hooks:
      - id: lint-js-fix
        name: Fix JS Lint
        entry: hatch run lint-js --fix
        language: system
        pass_filenames: false
        files: \.(js|jsx|ts|tsx)$
  - repo: local
    hooks:
      - id: lint-py-check
        name: Check Python Lint
        entry: hatch run lint-py
        language: system
        pass_filenames: false
        files: \.py$
  - repo: local
    hooks:
      - id: lint-js-check
        name: Check JS Lint
        entry: hatch run lint-py
        language: system
        pass_filenames: false
        files: \.(js|jsx|ts|tsx)$

self review
  CHANGELOG.md
  src/reactpy/testing/__init__.py
Due: lint-py-fix, lint-py-check

debounce user inputs to prevent character loss
  src/js/packages/@reactpy/client/src/components.tsx
  tests/test_core/test_events.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

add noscript option
  src/reactpy/executors/asgi/pyscript.py
  src/reactpy/executors/asgi/standalone.py
  src/reactpy/executors/utils.py
  tests/test_asgi/test_pyscript.py
  tests/test_asgi/test_standalone.py
  tests/test_asgi/test_utils.py
Due: lint-py-fix, lint-py-check

Add devcontainer config
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
Due: none

misc fixes
  .devcontainer/Dockerfile
  .devcontainer/post-create.sh
  .github/copilot-instructions.md
  docs/pyproject.toml
  docs/source/about/contributor-guide.rst
  docs/source/guides/adding-interactivity/dangers-of-mutability/index.rst
Due: none

give default parameters
  src/reactpy/executors/asgi/pyscript.py
  src/reactpy/executors/asgi/standalone.py
  src/reactpy/executors/utils.py
Due: lint-py-fix, lint-py-check

do not install
  .devcontainer/post-create.sh
Due: none

Update gitignore to include vscode files Add launch and settings for workspace
  .gitignore
  .vscode/launch.json
  .vscode/settings.json
Due: none

clean up and add tests
  src/reactpy/executors/asgi/pyscript.py
  src/reactpy/executors/asgi/standalone.py
  src/reactpy/executors/utils.py
  tests/test_asgi/test_pyscript.py
  tests/test_asgi/test_standalone.py
  tests/test_asgi/test_utils.py
Due: lint-py-fix, lint-py-check

Update formatting
  src/reactpy/executors/asgi/pyscript.py
  src/reactpy/executors/asgi/standalone.py
Due: lint-py-fix, lint-py-check

Update tests
  tests/test_asgi/test_pyscript.py
  tests/test_asgi/test_standalone.py
Due: lint-py-fix, lint-py-check

support taking in a component object
  src/reactpy/executors/asgi/pyscript.py
  src/reactpy/executors/asgi/standalone.py
  src/reactpy/executors/utils.py
  tests/test_asgi/test_pyscript.py
  tests/test_asgi/test_standalone.py
  tests/test_asgi/test_utils.py
Due: lint-py-fix, lint-py-check

wip changes
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
  .env
  pyproject.toml
  uv.lock
Due: none

Install browser
  .devcontainer/post-create.sh
  pyproject.toml
Due: none

Add bun extension
  .devcontainer/devcontainer.json
Due: none

Add Component type
  src/reactpy/executors/asgi/pyscript.py
  src/reactpy/executors/asgi/standalone.py
  src/reactpy/executors/utils.py
Due: lint-py-fix, lint-py-check

Update tests
  src/reactpy/executors/utils.py
  tests/test_asgi/test_utils.py
Due: lint-py-fix, lint-py-check

Configurable debounce
  CHANGELOG.md
  src/js/packages/@reactpy/client/src/components.tsx
  src/js/packages/@reactpy/client/src/types.ts
  src/js/packages/@reactpy/client/src/vdom.tsx
  src/reactpy/core/events.py
  src/reactpy/core/layout.py
  src/reactpy/core/vdom.py
  src/reactpy/types.py
  tests/test_core/test_events.py
  tests/test_core/test_vdom.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

fix formatting and type hint
  src/js/packages/@reactpy/client/src/components.tsx
  src/js/packages/@reactpy/client/src/vdom.tsx
  src/reactpy/executors/asgi/middleware.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

Fix flakey tests
  src/reactpy/core/events.py
  src/reactpy/reactjs/utils.py
  tests/test_asgi/test_pyscript.py
  tests/test_pyscript/test_components.py
  tests/test_reactjs/js_fixtures/nest-custom-under-web.js
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

expose max_queue_size within ReactPyConfig
  src/reactpy/types.py
  tests/test_asgi/test_utils.py
Due: lint-py-fix, lint-py-check

queue backpressure
  src/reactpy/core/layout.py
  tests/test_core/test_layout.py
Due: lint-py-fix, lint-py-check

clean up http path/qs handling
  src/js/packages/@reactpy/client/src/mount.tsx
  src/js/packages/@reactpy/client/src/websocket.ts
  src/reactpy/executors/asgi/middleware.py
  tests/test_asgi/test_standalone.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

Add test to ensure client input value takes priority.
  tests/test_core/test_events.py
Due: lint-py-fix, lint-py-check

More robust async event shielding
  src/reactpy/core/hooks.py
  tests/test_core/test_hooks.py
Due: lint-py-fix, lint-py-check

self review
  src/reactpy/core/hooks.py
  tests/test_core/test_events.py
  tests/test_reactjs/test_utils.py
Due: lint-py-fix, lint-py-check

Add coverage test
  CHANGELOG.md
  tests/test_core/test_layout.py
Due: lint-py-fix, lint-py-check

Improve pyscript wheel generation
  .gitignore
  pyproject.toml
  src/build_scripts/build_local_wheel.py
  src/reactpy/executors/asgi/middleware.py
  src/reactpy/executors/pyscript/utils.py
  src/reactpy/types.py
  tests/test_asgi/test_middleware.py
  tests/test_pyscript/test_utils.py
Due: lint-py-fix, lint-py-check

Allow reactpy install string override in pyscript
  src/reactpy/executors/pyscript/utils.py
  tests/test_pyscript/test_utils.py
Due: lint-py-fix, lint-py-check

self review 2: Add client-server reconciliation, clean-up wheel script
  src/build_scripts/build_local_wheel.py
  src/js/packages/@reactpy/client/src/components.tsx
  tests/test_build_local_wheel.py
  tests/test_core/test_events.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

Tooling and dependencies
  pyproject.toml
  src/js/bun.lockb
  src/js/package.json
Due: none

fix CI
  pyproject.toml
  src/build_scripts/build_local_wheel.py
Due: lint-py-fix, lint-py-check

Re-publish v2.0.0b11
  src/reactpy/__init__.py
Due: lint-py-fix, lint-py-check

fix missing static files on `git+` installs
  .github/workflows/publish.yml
  pyproject.toml
  src/build_scripts/build_py_wheel.py
  tests/test_build_local_wheel.py
  tests/test_build_py_wheel.py
Due: lint-py-fix, lint-py-check

misc hanging changes
  CHANGELOG.md
  src/build_scripts/install_deps.py
  tests/test_core/test_events.py
Due: lint-py-fix, lint-py-check

debounce refactoring and add throttle
  src/js/packages/@reactpy/client/src/components.tsx
  src/js/packages/@reactpy/client/src/handler.ts
  src/js/packages/@reactpy/client/src/index.ts
  src/js/packages/@reactpy/client/src/types.ts
  src/js/packages/@reactpy/client/src/vdom.tsx
  src/reactpy/core/_event_inspect.py
  src/reactpy/core/events.py
  src/reactpy/core/layout.py
  src/reactpy/core/vdom.py
  src/reactpy/types.py
  tests/test_core/test_events.py
  tests/test_core/test_layout.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

add changelog
  CHANGELOG.md
Due: none

fix brittle component_from_npm tests
  src/reactpy/reactjs/__init__.py
  tests/test_reactjs/test_modules_from_npm.py
Due: lint-py-fix, lint-py-check

fix coverage
  pyproject.toml
  src/build_scripts/install_deps.py
  src/reactpy/core/_event_inspect.py
  tests/test_core/test_event_inspect.py
Due: lint-py-fix, lint-py-check
