Repository reactive-python/reactpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint-py-fix
        name: Fix Python Lint
        entry: hatch run lint-py
        language: system
        args: [--fix]
        pass_filenames: false
        files: \.py$
  - repo: local
    hooks:
      - id: lint-js-fix
        name: Fix JS Lint
        entry: hatch run lint-js --fix
        language: system
        pass_filenames: false
        files: \.(js|jsx|ts|tsx)$
  - repo: local
    hooks:
      - id: lint-py-check
        name: Check Python Lint
        entry: hatch run lint-py
        language: system
        pass_filenames: false
        files: \.py$
  - repo: local
    hooks:
      - id: lint-js-check
        name: Check JS Lint
        entry: hatch run lint-py
        language: system
        pass_filenames: false
        files: \.(js|jsx|ts|tsx)$

Set minimum python version to 3.11
  docs/source/about/changelog.rst
  pyproject.toml
  src/reactpy/executors/asgi/middleware.py
  src/reactpy/executors/asgi/pyscript.py
  src/reactpy/executors/asgi/standalone.py
  src/reactpy/pyscript/utils.py
  src/reactpy/testing/common.py
  src/reactpy/types.py
Due: lint-py-fix, lint-py-check

fix python 3.14 warnings
  .github/workflows/check.yml
  src/reactpy/core/events.py
  src/reactpy/core/hooks.py
Due: lint-py-fix, lint-py-check

fix python 3.14 tests
  src/reactpy/core/events.py
Due: lint-py-fix, lint-py-check

speed-up event parsing
  src/reactpy/core/events.py
Due: lint-py-fix, lint-py-check

Allow generic ReactJS component bindings (fix #1001)
  .prettierrc
  src/js/packages/@reactpy/client/src/vdom.tsx
  tests/test_web/js_fixtures/generic-module.js
  tests/test_web/test_module.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

another fix for python 3.14 tests
  src/reactpy/core/hooks.py
  tests/conftest.py
Due: lint-py-fix, lint-py-check

fix coverage
  tests/test_asgi/test_init.py
  tests/test_pyscript/test_utils.py
Due: lint-py-fix, lint-py-check

Add new changelog entry
  docs/source/about/changelog.rst
Due: none

Refactor layout rendering (fix #624)
  docs/source/about/changelog.rst
  src/reactpy/core/layout.py
Due: lint-py-fix, lint-py-check

Fix error for bad use effect usage
  src/reactpy/core/hooks.py
Due: lint-py-fix, lint-py-check

``REACTPY_ASYNC_RENDERING` can now de-duplicate and cascade renders (fix #1201)
  docs/source/about/changelog.rst
  src/reactpy/config.py
  src/reactpy/core/layout.py
  tests/test_core/test_layout.py
Due: lint-py-fix, lint-py-check

Default async rendering to True
  docs/source/about/changelog.rst
  src/reactpy/config.py
Due: lint-py-fix, lint-py-check

fix coverage
  src/reactpy/core/layout.py
Due: lint-py-fix, lint-py-check

another coverage fix
  src/reactpy/core/layout.py
Due: lint-py-fix, lint-py-check

update AI instructions to use serena
  .github/copilot-instructions.md
  .serena/.gitignore
  .serena/memories/code_style.md
  .serena/memories/development_workflow.md
  .serena/memories/project_overview.md
  .serena/memories/suggested_commands.md
  .serena/project.yml
Due: none

Fix: tests failing when 'playwright install-deps' has already been done as part of the host/container provisioning.
  tests/conftest.py
Due: lint-py-fix, lint-py-check

Use contextlib.supress instead of try/except
  tests/conftest.py
Due: lint-py-fix, lint-py-check

Fix: tests fail when 'playwright install-deps' has already run (#1313)
  tests/conftest.py
Due: lint-py-fix, lint-py-check

Fix hook stack errors
  src/reactpy/core/_life_cycle_hook.py
  src/reactpy/core/layout.py
  src/reactpy/core/serve.py
  tests/conftest.py
Due: lint-py-fix, lint-py-check

fix lint
  src/reactpy/core/serve.py
Due: lint-py-fix, lint-py-check

hatch fmt tests
  tests/test_asgi/test_init.py
  tests/test_asgi/test_middleware.py
  tests/test_asgi/test_utils.py
  tests/test_client.py
  tests/test_config.py
  tests/test_core/test_events.py
  tests/test_core/test_hooks.py
  tests/test_core/test_layout.py
  tests/test_core/test_vdom.py
  tests/test_html.py
  tests/test_option.py
  tests/test_testing.py
  tests/test_utils.py
  tests/test_web/test_module.py
  tests/tooling/select.py
Due: lint-py-fix, lint-py-check

Remove `key` from VdomDict
  docs/source/about/changelog.rst
  src/js/packages/@reactpy/client/src/components.tsx
  src/js/packages/@reactpy/client/src/types.ts
  src/reactpy/_html.py
  src/reactpy/core/layout.py
  src/reactpy/core/vdom.py
  src/reactpy/transforms.py
  src/reactpy/types.py
  tests/test_html.py
  tests/test_utils.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

`reactpy.html(...)` to be shorthand notation for fragments
  docs/source/about/changelog.rst
  src/reactpy/_html.py
  src/reactpy/utils.py
  tests/test_client.py
  tests/test_core/test_hooks.py
  tests/test_core/test_layout.py
  tests/test_html.py
  tests/test_utils.py
Due: lint-py-fix, lint-py-check

Add `html.h` shorthand alias
  docs/source/about/changelog.rst
  src/reactpy/_html.py
Due: lint-py-fix, lint-py-check

Add nocov for pyscript hotfix
  src/reactpy/pyscript/utils.py
Due: lint-py-fix, lint-py-check

initial implementation of reactjy_component_from_npm
  src/js/packages/@reactpy/app/src/index.ts
  src/js/packages/@reactpy/client/src/index.ts
  src/reactpy/testing/backend.py
  src/reactpy/testing/display.py
  src/reactpy/web/__init__.py
  src/reactpy/web/module.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

update copilot instructions
  .github/copilot-instructions.md
Due: none

reorganize args on `reactjs_component_from_*`
  src/reactpy/web/module.py
Due: lint-py-fix, lint-py-check

move reactjs re-export stubs to their own files
  .gitignore
  src/build_scripts/clean_js_dir.py
  src/js/packages/@reactpy/app/package.json
  src/js/packages/@reactpy/app/src/index.ts
  src/js/packages/@reactpy/app/src/react-dom.ts
  src/js/packages/@reactpy/app/src/react-jsx-runtime.ts
  src/js/packages/@reactpy/app/src/react.ts
  src/js/packages/@reactpy/app/tsconfig.json
  src/reactpy/web/__init__.py
  src/reactpy/web/module.py
  src/reactpy/web/utils.py
  tests/test_web/test_npm.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

Remove legacy web template
  src/reactpy/web/templates/react.js
Due: lint-js-fix, lint-js-check

create new `reactpy.reactjs` module
  src/reactpy/__init__.py
  src/reactpy/reactjs/__init__.py
  src/reactpy/reactjs/module.py
  src/reactpy/reactjs/types.py
  src/reactpy/reactjs/utils.py
  src/reactpy/types.py
  src/reactpy/web/__init__.py
  src/reactpy/web/module.py
  src/reactpy/web/utils.py
  tests/test_reactjs/__init__.py
  tests/test_reactjs/js_fixtures/callable-prop.js
  tests/test_reactjs/js_fixtures/component-can-have-child.js
  tests/test_reactjs/js_fixtures/export-resolution/index.js
  tests/test_reactjs/js_fixtures/export-resolution/one.js
  tests/test_reactjs/js_fixtures/export-resolution/two.js
  tests/test_reactjs/js_fixtures/exports-syntax.js
  tests/test_reactjs/js_fixtures/exports-two-components.js
  tests/test_reactjs/js_fixtures/generic-module.js
  tests/test_reactjs/js_fixtures/keys-properly-propagated.js
  tests/test_reactjs/js_fixtures/set-flag-when-unmount-is-called.js
  tests/test_reactjs/js_fixtures/simple-button.js
  tests/test_reactjs/js_fixtures/subcomponent-notation.js
  tests/test_reactjs/test_modules.py
  tests/test_reactjs/test_utils.py
  tests/test_web/test_module.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

Add changelog
  docs/source/about/changelog.rst
Due: none

Fix missing react-dom/client export
  .github/copilot-instructions.md
  src/js/packages/@reactpy/app/src/react-dom.ts
  src/reactpy/reactjs/__init__.py
  src/reactpy/reactjs/module.py
  src/reactpy/reactjs/utils.py
  src/reactpy/types.py
  tests/test_reactjs/test_module.py
  tests/test_reactjs/test_modules.py
  tests/test_reactjs/test_utils.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

fix tests
  src/reactpy/testing/logs.py
  src/reactpy/web/utils.py
  tests/test_reactjs/test_utils.py
  tests/test_web/test_module.py
Due: lint-py-fix, lint-py-check

Fix javascript component children (Fix #1262)
  src/js/packages/@reactpy/client/src/vdom.tsx
  tests/test_reactjs/test_modules.py
  tests/test_reactjs/test_modules_from_npm.py
  tests/test_web/test_module.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

Bump reactpy client
  src/js/packages/@reactpy/client/package.json
Due: none

Remove serena
  .serena/.gitignore
  .serena/memories/code_style.md
  .serena/memories/development_workflow.md
  .serena/memories/project_overview.md
  .serena/memories/suggested_commands.md
  .serena/project.yml
Due: none

Mark reactjs tests as flaky
  tests/test_reactjs/test_modules_from_npm.py
Due: lint-py-fix, lint-py-check
