Repository reactive-python/reactpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint-py-fix
        name: Fix Python Lint
        entry: hatch run lint-py
        language: system
        args: [--fix]
        pass_filenames: false
        files: \.py$
  - repo: local
    hooks:
      - id: lint-js-fix
        name: Fix JS Lint
        entry: hatch run lint-js --fix
        language: system
        pass_filenames: false
        files: \.(js|jsx|ts|tsx)$
  - repo: local
    hooks:
      - id: lint-py-check
        name: Check Python Lint
        entry: hatch run lint-py
        language: system
        pass_filenames: false
        files: \.py$
  - repo: local
    hooks:
      - id: lint-js-check
        name: Check JS Lint
        entry: hatch run lint-py
        language: system
        pass_filenames: false
        files: \.(js|jsx|ts|tsx)$

Update pull request template
  .github/pull_request_template.md
Due: none

remove stuff
  .vscode/settings.json
Due: none

sort json
  .vscode/settings.json
Due: none

everything besides component_dispatch_app
  src/py/reactpy/reactpy/backend/asgi.py
  src/py/reactpy/reactpy/backend/mimetypes.py
Due: lint-py-fix, lint-py-check

`reactpy.run` and `configure(...)` refactoring (#1051)
  docs/source/about/changelog.rst
  requirements.txt
  src/py/reactpy/reactpy/backend/_common.py
  src/py/reactpy/reactpy/backend/default.py
  src/py/reactpy/reactpy/backend/fastapi.py
  src/py/reactpy/reactpy/backend/flask.py
  src/py/reactpy/reactpy/backend/sanic.py
  src/py/reactpy/reactpy/backend/starlette.py
  src/py/reactpy/reactpy/backend/tornado.py
  src/py/reactpy/reactpy/backend/types.py
  src/py/reactpy/reactpy/backend/utils.py
  src/py/reactpy/reactpy/testing/backend.py
  src/py/reactpy/reactpy/types.py
  src/py/reactpy/tests/test_backend/test_all.py
Due: lint-py-fix, lint-py-check

Unfinished component dispatcher
  src/py/reactpy/reactpy/backend/asgi.py
Due: lint-py-fix, lint-py-check

threading for disk calls
  src/py/reactpy/reactpy/backend/asgi.py
  src/py/reactpy/reactpy/backend/mimetypes.py
Due: lint-py-fix, lint-py-check

More robust route handling
  src/py/reactpy/reactpy/backend/asgi.py
Due: lint-py-fix, lint-py-check

fix carrier
  src/py/reactpy/reactpy/backend/asgi.py
Due: lint-py-fix, lint-py-check

Plan ahead for new websocket URL pattern
  src/py/reactpy/reactpy/backend/asgi.py
Due: lint-py-fix, lint-py-check

better path stuff
  src/py/reactpy/reactpy/backend/_common.py
  src/py/reactpy/reactpy/backend/asgi.py
  src/py/reactpy/tests/test_backend/test__common.py
Due: lint-py-fix, lint-py-check

use etag instead of modified header
  src/py/reactpy/reactpy/backend/asgi.py
Due: lint-py-fix, lint-py-check

prepare recv queue for potential threading
  src/py/reactpy/reactpy/backend/asgi.py
Due: lint-py-fix, lint-py-check

refactoring
  src/js/app/index.html
  src/py/reactpy/reactpy/backend/asgi.py
Due: lint-py-fix, lint-py-check

add backhaul thread
  src/py/reactpy/reactpy/backend/asgi.py
Due: lint-py-fix, lint-py-check

remove icon from default head
  src/py/reactpy/reactpy/backend/_common.py
Due: lint-py-fix, lint-py-check

small bug fixes
  src/py/reactpy/reactpy/backend/asgi.py
Due: lint-py-fix, lint-py-check

fix another typo
  src/py/reactpy/reactpy/backend/asgi.py
Due: lint-py-fix, lint-py-check

Update asgi.py
  src/py/reactpy/reactpy/backend/asgi.py
Due: lint-py-fix, lint-py-check

customizable block size
  src/js/app/public/assets/reactpy-logo.ico
  src/py/reactpy/reactpy/backend/_common.py
  src/py/reactpy/reactpy/backend/asgi.py
Due: lint-py-fix, lint-py-check

refactor init
  src/py/reactpy/reactpy/backend/asgi.py
Due: lint-py-fix, lint-py-check

format
  src/py/reactpy/reactpy/backend/asgi.py
Due: lint-py-fix, lint-py-check

use starlette for static files
  src/py/reactpy/reactpy/backend/asgi.py
  src/py/reactpy/reactpy/backend/mimetypes.py
Due: lint-py-fix, lint-py-check

Separated Code Into Different Files
  docs/examples/css/responding_to_events/event_propagation.css
  docs/examples/css/responding_to_events/naming_event_handler_props.css
  docs/examples/css/responding_to_events/naming_event_handler_props_2.css
  docs/examples/css/responding_to_events/passing_event_handlers_as_props.css
  docs/examples/css/responding_to_events/preventing_default_behavior.css
  docs/examples/css/responding_to_events/preventing_default_behavior_2.css
  docs/examples/css/responding_to_events/reading_props_in_event_handlers.css
  docs/examples/css/responding_to_events/stopping_propagation.css
  docs/examples/python/responding_to_events/capture_phase_events.py
  docs/examples/python/responding_to_events/event_propagation.py
  docs/examples/python/responding_to_events/fix_an_event_handler_problem.py
  docs/examples/python/responding_to_events/fix_an_event_handler_solution.py
  docs/examples/python/responding_to_events/fix_an_event_handler_solution_2.py
  docs/examples/python/responding_to_events/naming_event_handler_props.py
  docs/examples/python/responding_to_events/naming_event_handler_props_2.py
  docs/examples/python/responding_to_events/passing_event_handlers_as_props.py
  docs/examples/python/responding_to_events/passing_handlers_as_alternative_to_propagation.py
  docs/examples/python/responding_to_events/preventing_default_behavior.py
  docs/examples/python/responding_to_events/preventing_default_behavior_2.py
  docs/examples/python/responding_to_events/reading_props_in_event_handlers.py
  docs/examples/python/responding_to_events/stopping_propagation.py
  docs/examples/python/responding_to_events/wire_up_the_events_problem.py
  docs/examples/python/responding_to_events/wire_up_the_events_problem_2.py
  docs/examples/python/responding_to_events/wire_up_the_events_solution.py
  docs/examples/python/responding_to_events/wire_up_the_events_solution_2.py
  docs/src/learn/responding-to-events.md
Due: lint-py-fix, lint-py-check

Minor Changes + Fixing Spacing
  docs/examples/python/responding_to_events/simple_button_alert.py
  docs/src/learn/responding-to-events.md
Due: lint-py-fix, lint-py-check

local ws connection
  src/py/reactpy/reactpy/backend/asgi.py
Due: lint-py-fix, lint-py-check

info.txt added and modified
  info,text
  info,txt
  info.txt
Due: none

more refactoring
  src/py/reactpy/reactpy/backend/asgi.py
Due: lint-py-fix, lint-py-check

need to copy scheme from base url
  src/py/reactpy/reactpy/web/utils.py
  temp.py
Due: lint-py-fix, lint-py-check

add changelog entry
  docs/source/about/changelog.rst
Due: none

setsockopt on mac too
  src/py/reactpy/.temp.py
  src/py/reactpy/reactpy/backend/utils.py
Due: lint-py-fix, lint-py-check

need to copy scheme from base url (#1118)
  docs/source/about/changelog.rst
  src/py/reactpy/reactpy/web/utils.py
  temp.py
Due: lint-py-fix, lint-py-check

delete accidentally committed file
  temp.py
Due: lint-py-fix, lint-py-check

fix path check
  src/py/reactpy/reactpy/backend/asgi.py
Due: lint-py-fix, lint-py-check

Added checked: element.checked to INPUT in elementConverters
  src/js/packages/event-to-object/src/index.ts
Due: lint-js-fix, lint-js-check

remove newly deprecated settings
  .vscode/settings.json
Due: none

remove jinja associations
  .vscode/settings.json
Due: none

Update changelog
  docs/source/about/changelog.rst
Due: none

Fix flask backend mimetype for modules
  src/py/reactpy/reactpy/backend/flask.py
Due: lint-py-fix, lint-py-check
