Repository reactive-python/reactpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint-py-fix
        name: Fix Python Lint
        entry: hatch run lint-py
        language: system
        args: [--fix]
        pass_filenames: false
        files: \.py$
  - repo: local
    hooks:
      - id: lint-js-fix
        name: Fix JS Lint
        entry: hatch run lint-js --fix
        language: system
        pass_filenames: false
        files: \.(js|jsx|ts|tsx)$
  - repo: local
    hooks:
      - id: lint-py-check
        name: Check Python Lint
        entry: hatch run lint-py
        language: system
        pass_filenames: false
        files: \.py$
  - repo: local
    hooks:
      - id: lint-js-check
        name: Check JS Lint
        entry: hatch run lint-py
        language: system
        pass_filenames: false
        files: \.(js|jsx|ts|tsx)$

Ensure consistent capitalization for JavaScript
  src/js/packages/@reactpy/client/src/types.ts
  src/js/packages/@reactpy/client/src/vdom.tsx
  src/reactpy/core/layout.py
  src/reactpy/core/vdom.py
  src/reactpy/types.py
  tests/test_utils.py
  tests/test_web/test_module.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

Convert private staticmethod to standalone method
  src/reactpy/transforms.py
  src/reactpy/utils.py
Due: lint-py-fix, lint-py-check

Update docs/source/about/changelog.rst
  docs/source/about/changelog.rst
Due: none

Support inline JavaScript events (#1290)
  docs/source/about/changelog.rst
  src/js/packages/@reactpy/client/src/types.ts
  src/js/packages/@reactpy/client/src/vdom.tsx
  src/reactpy/core/layout.py
  src/reactpy/core/vdom.py
  src/reactpy/transforms.py
  src/reactpy/types.py
  src/reactpy/utils.py
  src/reactpy/web/templates/react.js
  tests/test_core/test_events.py
  tests/test_utils.py
  tests/test_web/js_fixtures/callable-prop.js
  tests/test_web/test_module.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

v2.0.0b2
  .github/workflows/check.yml
  src/reactpy/__init__.py
Due: lint-py-fix, lint-py-check

2.0.0b2 (#1294)
  .github/workflows/check.yml
  src/reactpy/__init__.py
Due: lint-py-fix, lint-py-check

Remove Sphinx docs publishing workflow
  .github/workflows/deploy-docs.yml
Due: none

Remove `snake_case` -> `camelCase` prop conversion (#1263)
  docs/source/about/changelog.rst
  pyproject.toml
  src/js/packages/@reactpy/client/package.json
  src/js/packages/@reactpy/client/src/vdom.tsx
  src/reactpy/__main__.py
  src/reactpy/_console/cli.py
  src/reactpy/_console/rewrite_props.py
  src/reactpy/testing/backend.py
  src/reactpy/testing/common.py
  src/reactpy/widgets.py
  tests/conftest.py
  tests/test_asgi/test_standalone.py
  tests/test_client.py
  tests/test_console/test_rewrite_props.py
  tests/test_core/test_events.py
  tests/test_core/test_hooks.py
  tests/test_core/test_layout.py
  tests/test_core/test_serve.py
  tests/test_core/test_vdom.py
  tests/test_html.py
  tests/test_testing.py
  tests/test_utils.py
  tests/tooling/common.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

Ensures key is properly propagated to importedElements (#1271)
  docs/source/about/changelog.rst
  src/reactpy/_html.py
  src/reactpy/core/vdom.py
  src/reactpy/transforms.py
  tests/test_utils.py
  tests/test_web/js_fixtures/keys-properly-propagated.js
  tests/test_web/test_module.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

Create separate `use_async_effect` hook (#1264)
  docs/source/about/changelog.rst
  docs/source/reference/_examples/simple_dashboard.py
  docs/source/reference/_examples/snake_game.py
  src/reactpy/core/hooks.py
  tests/test_core/test_hooks.py
  tests/test_core/test_layout.py
  tests/test_html.py
Due: lint-py-fix, lint-py-check

Better async effect shutdown behavior (#1267)
  docs/source/about/changelog.rst
  pyproject.toml
  src/reactpy/__init__.py
  src/reactpy/core/hooks.py
Due: lint-py-fix, lint-py-check

V2-migrate-mypy-to-pyright (#1274)
  pyproject.toml
  src/reactpy/_console/ast_utils.py
  src/reactpy/_warnings.py
  src/reactpy/config.py
  src/reactpy/core/hooks.py
  src/reactpy/core/layout.py
  src/reactpy/core/serve.py
  src/reactpy/core/vdom.py
  src/reactpy/executors/asgi/middleware.py
  src/reactpy/executors/asgi/pyscript.py
  src/reactpy/executors/asgi/standalone.py
  src/reactpy/executors/asgi/types.py
  src/reactpy/testing/backend.py
  src/reactpy/testing/common.py
  src/reactpy/types.py
  src/reactpy/utils.py
Due: lint-py-fix, lint-py-check

Bug fix for corrupted hook state (#1254)
  docs/source/about/changelog.rst
  pyproject.toml
  src/reactpy/core/_life_cycle_hook.py
  src/reactpy/core/_thread_local.py
  src/reactpy/core/hooks.py
  src/reactpy/core/serve.py
  src/reactpy/pyscript/utils.py
  src/reactpy/testing/common.py
  src/reactpy/utils.py
  tests/conftest.py
  tests/test_core/test_layout.py
  tests/tooling/hooks.py
Due: lint-py-fix, lint-py-check

Use ASGI-Tools for HTTP/WS handling (#1268)
  docs/source/about/changelog.rst
  pyproject.toml
  src/reactpy/asgi/middleware.py
  src/reactpy/asgi/standalone.py
  src/reactpy/asgi/utils.py
  tests/test_asgi/test_standalone.py
Due: lint-py-fix, lint-py-check

Rework VDOM construction and type hints (#1281)
  docs/source/about/changelog.rst
  pyproject.toml
  src/reactpy/__init__.py
  src/reactpy/_html.py
  src/reactpy/core/hooks.py
  src/reactpy/core/layout.py
  src/reactpy/core/vdom.py
  src/reactpy/transforms.py
  src/reactpy/types.py
  src/reactpy/utils.py
  src/reactpy/web/module.py
  src/reactpy/widgets.py
  tests/sample.py
  tests/test_core/test_component.py
  tests/test_core/test_layout.py
  tests/test_core/test_vdom.py
Due: lint-py-fix, lint-py-check

Run test webserver within main async loop (#1266)
  src/reactpy/testing/backend.py
  tests/test_asgi/test_standalone.py
Due: lint-py-fix, lint-py-check

Support subcomponent notation in `export` (#1285)
  .github/workflows/check.yml
  docs/source/about/changelog.rst
  src/js/packages/@reactpy/client/src/vdom.tsx
  src/reactpy/core/vdom.py
  src/reactpy/web/module.py
  tests/test_core/test_vdom.py
  tests/test_utils.py
  tests/test_web/js_fixtures/subcomponent-notation.js
  tests/test_web/test_module.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

Allow user defined routes in `ReactPy()` (#1265)
  pyproject.toml
  src/reactpy/asgi/middleware.py
  src/reactpy/asgi/standalone.py
  src/reactpy/testing/backend.py
  src/reactpy/types.py
  tests/test_asgi/test_standalone.py
Due: lint-py-fix, lint-py-check

Improve and rename `vdom_to_html` -> `reactpy_to_html` (#1278)
  docs/source/about/changelog.rst
  src/reactpy/__init__.py
  src/reactpy/core/_life_cycle_hook.py
  src/reactpy/core/_thread_local.py
  src/reactpy/core/hooks.py
  src/reactpy/executors/asgi/middleware.py
  src/reactpy/executors/asgi/pyscript.py
  src/reactpy/executors/asgi/standalone.py
  src/reactpy/executors/utils.py
  src/reactpy/pyscript/components.py
  src/reactpy/pyscript/utils.py
  src/reactpy/templatetags/jinja.py
  src/reactpy/testing/common.py
  src/reactpy/testing/display.py
  src/reactpy/testing/utils.py
  src/reactpy/transforms.py
  src/reactpy/types.py
  src/reactpy/utils.py
  tests/test_utils.py
Due: lint-py-fix, lint-py-check

Sync Preact build config with `reactpy-django`
  .prettierrc
  src/js/README.md
  src/js/packages/@reactpy/app/tsconfig.json
  src/js/packages/@reactpy/client/bun.lockb
  src/js/packages/@reactpy/client/package.json
  src/js/packages/@reactpy/client/src/client.ts
  src/js/packages/@reactpy/client/src/components.tsx
  src/js/packages/@reactpy/client/src/mount.tsx
  src/js/packages/@reactpy/client/src/types.ts
  src/js/packages/@reactpy/client/src/vdom.tsx
  src/js/packages/@reactpy/client/src/websocket.ts
  src/js/packages/@reactpy/client/tsconfig.json
  src/js/packages/event-to-object/tsconfig.json
  src/js/tsconfig.json
  src/reactpy/executors/utils.py
  tests/test_asgi/test_utils.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

fix JS tests
  src/js/bun.lockb
  src/js/eslint.config.mjs
  src/js/package.json
  src/js/packages/@reactpy/app/bun.lockb
  src/js/packages/@reactpy/app/eslint.config.mjs
  src/js/packages/@reactpy/app/package.json
  src/js/packages/@reactpy/client/bun.lockb
  src/js/packages/@reactpy/client/package.json
  src/js/packages/@reactpy/client/src/components.tsx
  src/js/packages/event-to-object/bun.lockb
  src/js/packages/event-to-object/package.json
  src/js/packages/event-to-object/src/index.ts
Due: lint-js-fix, lint-js-check

remove incompatile plugin
  src/js/bun.lockb
  src/js/package.json
Due: none

Changes to v2 to encourage docs simplicity
  docs/source/about/changelog.rst
  pyproject.toml
  src/reactpy/executors/asgi/__init__.py
  src/reactpy/executors/asgi/pyscript.py
  src/reactpy/pyscript/component_template.py
  src/reactpy/pyscript/layout_handler.py
  src/reactpy/templatetags/__init__.py
  src/reactpy/templatetags/jinja.py
  tests/test_asgi/test_middleware.py
  tests/test_asgi/test_pyscript.py
Due: lint-py-fix, lint-py-check

fix missing test dependency
  docs/source/about/changelog.rst
  pyproject.toml
Due: none

Move uvicorn to testing deps
  pyproject.toml
  src/reactpy/executors/asgi/pyscript.py
Due: lint-py-fix, lint-py-check

fix typo
  pyproject.toml
Due: none

bump gitignore
  .gitignore
Due: none

prototype implementation
  src/js/packages/event-to-object/new/index.ts
Due: lint-js-fix, lint-js-check

Fix uvicorn related test suite errors
  src/reactpy/testing/backend.py
Due: lint-py-fix, lint-py-check

fix type errors
  src/reactpy/pyscript/component_template.py
  src/reactpy/utils.py
Due: lint-py-fix, lint-py-check

attempt to fix `test_non_html_tag_behavior`
  tests/test_utils.py
Due: lint-py-fix, lint-py-check

Add playwright deps install cmd
  tests/conftest.py
Due: lint-py-fix, lint-py-check

attempt 2
  src/reactpy/utils.py
Due: lint-py-fix, lint-py-check

attempt 3
  src/reactpy/utils.py
  tests/test_utils.py
Due: lint-py-fix, lint-py-check
