Repository reactive-python/reactpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint-py-fix
        name: Fix Python Lint
        entry: hatch run lint-py
        language: system
        args: [--fix]
        pass_filenames: false
        files: \.py$
  - repo: local
    hooks:
      - id: lint-js-fix
        name: Fix JS Lint
        entry: hatch run lint-js --fix
        language: system
        pass_filenames: false
        files: \.(js|jsx|ts|tsx)$
  - repo: local
    hooks:
      - id: lint-py-check
        name: Check Python Lint
        entry: hatch run lint-py
        language: system
        pass_filenames: false
        files: \.py$
  - repo: local
    hooks:
      - id: lint-js-check
        name: Check JS Lint
        entry: hatch run lint-py
        language: system
        pass_filenames: false
        files: \.(js|jsx|ts|tsx)$

Fix tests
  pyproject.toml
  src/reactpy/_console/cli.py
  tests/test_utils.py
Due: lint-py-fix, lint-py-check

re-add click types package
  pyproject.toml
Due: none

Remove `snake_case` -> `camelCase` prop conversion (#1263)
  docs/source/about/changelog.rst
  pyproject.toml
  src/js/packages/@reactpy/client/package.json
  src/js/packages/@reactpy/client/src/vdom.tsx
  src/reactpy/__main__.py
  src/reactpy/_console/cli.py
  src/reactpy/_console/rewrite_props.py
  src/reactpy/testing/backend.py
  src/reactpy/testing/common.py
  src/reactpy/widgets.py
  tests/conftest.py
  tests/test_asgi/test_standalone.py
  tests/test_client.py
  tests/test_console/test_rewrite_props.py
  tests/test_core/test_events.py
  tests/test_core/test_hooks.py
  tests/test_core/test_layout.py
  tests/test_core/test_serve.py
  tests/test_core/test_vdom.py
  tests/test_html.py
  tests/test_testing.py
  tests/test_utils.py
  tests/tooling/common.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

Create separate `use_async_effect` hook
  docs/source/reference/_examples/simple_dashboard.py
  docs/source/reference/_examples/snake_game.py
  src/reactpy/core/hooks.py
  tests/test_core/test_hooks.py
  tests/test_core/test_layout.py
  tests/test_html.py
Due: lint-py-fix, lint-py-check

Add changelog
  docs/source/about/changelog.rst
  tests/test_core/test_hooks.py
Due: lint-py-fix, lint-py-check

Create separate `use_async_effect` hook (#1264)
  docs/source/about/changelog.rst
  docs/source/reference/_examples/simple_dashboard.py
  docs/source/reference/_examples/snake_game.py
  src/reactpy/core/hooks.py
  tests/test_core/test_hooks.py
  tests/test_core/test_layout.py
  tests/test_html.py
Due: lint-py-fix, lint-py-check

Allow user defined routes in `ReactPy()`
  pyproject.toml
  src/reactpy/asgi/middleware.py
  src/reactpy/asgi/standalone.py
  src/reactpy/types.py
  tests/test_asgi/test_standalone.py
Due: lint-py-fix, lint-py-check

self review
  src/reactpy/asgi/standalone.py
Due: lint-py-fix, lint-py-check

even larger GH actions timeout
  src/reactpy/testing/backend.py
Due: lint-py-fix, lint-py-check

Allow user defined routes in `ReactPy()` (#1265)
  pyproject.toml
  src/reactpy/asgi/middleware.py
  src/reactpy/asgi/standalone.py
  src/reactpy/testing/backend.py
  src/reactpy/types.py
  tests/test_asgi/test_standalone.py
Due: lint-py-fix, lint-py-check

Run test webserver within main async loop
  src/reactpy/testing/backend.py
  tests/test_asgi/test_standalone.py
Due: lint-py-fix, lint-py-check

Fix lint
  src/reactpy/testing/backend.py
Due: lint-py-fix, lint-py-check

Run test webserver within main async loop (#1266)
  src/reactpy/testing/backend.py
  tests/test_asgi/test_standalone.py
Due: lint-py-fix, lint-py-check

Remove unneeded test deps from pyproject
  pyproject.toml
Due: none

export use_async_effect at top level
  src/reactpy/__init__.py
  src/reactpy/core/hooks.py
Due: lint-py-fix, lint-py-check

use effect refactoring
  src/reactpy/core/hooks.py
Due: lint-py-fix, lint-py-check

functional effect timeout parameter
  src/reactpy/core/hooks.py
Due: lint-py-fix, lint-py-check

rewrite use_async_effect
  src/reactpy/core/hooks.py
Due: lint-py-fix, lint-py-check

docstring and changelog
  docs/source/about/changelog.rst
  src/reactpy/core/hooks.py
Due: lint-py-fix, lint-py-check

Fix overloads
  src/reactpy/core/hooks.py
Due: lint-py-fix, lint-py-check

Bump version
  src/reactpy/__init__.py
Due: lint-py-fix, lint-py-check

Better async effect shutdown behavior (#1267)
  docs/source/about/changelog.rst
  pyproject.toml
  src/reactpy/__init__.py
  src/reactpy/core/hooks.py
Due: lint-py-fix, lint-py-check

use asgi_tools for HTTP responses
  pyproject.toml
  src/reactpy/asgi/standalone.py
  src/reactpy/asgi/utils.py
Due: lint-py-fix, lint-py-check

message type routing for WS
  src/reactpy/asgi/middleware.py
  tests/test_asgi/test_standalone.py
Due: lint-py-fix, lint-py-check

use asgi_tools for WS responses
  src/reactpy/asgi/middleware.py
Due: lint-py-fix, lint-py-check

Add missing changelog item
  docs/source/about/changelog.rst
Due: none

self review
  src/reactpy/asgi/middleware.py
Due: lint-py-fix, lint-py-check

change docstring
  src/reactpy/asgi/middleware.py
Due: lint-py-fix, lint-py-check

Use ASGI-Tools for HTTP/WS handling (#1268)
  docs/source/about/changelog.rst
  pyproject.toml
  src/reactpy/asgi/middleware.py
  src/reactpy/asgi/standalone.py
  src/reactpy/asgi/utils.py
  tests/test_asgi/test_standalone.py
Due: lint-py-fix, lint-py-check

First draft of pyscript support
  pyproject.toml
  src/reactpy/_html.py
  src/reactpy/jinja.py
  src/reactpy/pyscript/__init__.py
  src/reactpy/pyscript/component_template.py
  src/reactpy/pyscript/components.py
  src/reactpy/pyscript/layout_handler.py
  src/reactpy/pyscript/utils.py
Due: lint-py-fix, lint-py-check

move standalone to executors module
  src/reactpy/__init__.py
  src/reactpy/asgi/executors/__init__.py
  src/reactpy/asgi/executors/standalone.py
  src/reactpy/testing/backend.py
  tests/test_asgi/test_standalone.py
  tests/test_web/test_module.py
Due: lint-py-fix, lint-py-check

prototype pysript executor
  src/js/packages/@reactpy/client/src/mount.tsx
  src/js/packages/@reactpy/client/src/types.ts
  src/reactpy/asgi/executors/pyscript.py
  src/reactpy/asgi/executors/standalone.py
  src/reactpy/jinja.py
  src/reactpy/pyscript/layout_handler.py
  src/reactpy/pyscript/utils.py
  src/reactpy/utils.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

functional rendering on standalone pyscript
  .gitignore
  src/js/packages/@reactpy/app/bun.lockb
  src/js/packages/@reactpy/app/package.json
  src/reactpy/asgi/executors/pyscript.py
  src/reactpy/asgi/middleware.py
  src/reactpy/pyscript/utils.py
  src/reactpy/static/pyscript-custom.css
  src/reactpy/static/pyscript-hide-debug.css
Due: lint-py-fix, lint-py-check

Fix pyscript event handling
  src/reactpy/pyscript/layout_handler.py
Due: lint-py-fix, lint-py-check

Resolve type checker warnings
  src/reactpy/asgi/executors/pyscript.py
  src/reactpy/asgi/middleware.py
  src/reactpy/jinja.py
  src/reactpy/pyscript/component_template.py
  src/reactpy/pyscript/components.py
  src/reactpy/pyscript/utils.py
Due: lint-py-fix, lint-py-check

move jinja template tag module
  docs/source/about/changelog.rst
  src/reactpy/jinja.py
  src/reactpy/templatetags/__init__.py
  src/reactpy/templatetags/jinja.py
Due: lint-py-fix, lint-py-check

remove standard installation extra
  docs/source/about/changelog.rst
  pyproject.toml
Due: none

automate pyscript/morphdom static building
  pyproject.toml
  src/js/packages/@reactpy/app/package.json
Due: none

Move optional dependencies up
  pyproject.toml
Due: none

remove unused dependency
  pyproject.toml
  src/reactpy/logging.py
Due: lint-py-fix, lint-py-check
