Repository reactive-python/reactpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint-py-fix
        name: Fix Python Lint
        entry: hatch run lint-py
        language: system
        args: [--fix]
        pass_filenames: false
        files: \.py$
  - repo: local
    hooks:
      - id: lint-js-fix
        name: Fix JS Lint
        entry: hatch run lint-js --fix
        language: system
        pass_filenames: false
        files: \.(js|jsx|ts|tsx)$
  - repo: local
    hooks:
      - id: lint-py-check
        name: Check Python Lint
        entry: hatch run lint-py
        language: system
        pass_filenames: false
        files: \.py$
  - repo: local
    hooks:
      - id: lint-js-check
        name: Check JS Lint
        entry: hatch run lint-py
        language: system
        pass_filenames: false
        files: \.(js|jsx|ts|tsx)$

Add client side event `throttle` (#1346)
  CHANGELOG.md
  pyproject.toml
  src/build_scripts/install_deps.py
  src/js/packages/@reactpy/client/src/components.tsx
  src/js/packages/@reactpy/client/src/handler.ts
  src/js/packages/@reactpy/client/src/index.ts
  src/js/packages/@reactpy/client/src/types.ts
  src/js/packages/@reactpy/client/src/vdom.tsx
  src/reactpy/core/_event_inspect.py
  src/reactpy/core/events.py
  src/reactpy/core/layout.py
  src/reactpy/core/vdom.py
  src/reactpy/reactjs/__init__.py
  src/reactpy/types.py
  tests/test_core/test_event_inspect.py
  tests/test_core/test_events.py
  tests/test_core/test_layout.py
  tests/test_reactjs/test_modules_from_npm.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

Fix PyScript root component not hiding after render error
  src/reactpy/executors/pyscript/layout_handler.py
  tests/test_pyscript/pyscript_components/root_error.py
  tests/test_pyscript/test_components.py
Due: lint-py-fix, lint-py-check

switch to prepend_body
  src/build_scripts/install_deps.py
  src/reactpy/executors/asgi/pyscript.py
  src/reactpy/executors/asgi/standalone.py
  src/reactpy/executors/utils.py
  tests/test_asgi/test_pyscript.py
  tests/test_asgi/test_standalone.py
  tests/test_asgi/test_utils.py
Due: lint-py-fix, lint-py-check

body_content -> prepend_body
  src/reactpy/executors/asgi/pyscript.py
  src/reactpy/executors/asgi/standalone.py
Due: lint-py-fix, lint-py-check

Add `prepend_body` with noscript default (#1343)
  src/build_scripts/install_deps.py
  src/reactpy/executors/asgi/pyscript.py
  src/reactpy/executors/asgi/standalone.py
  tests/test_asgi/test_pyscript.py
  tests/test_asgi/test_standalone.py
  tests/test_asgi/test_utils.py
Due: lint-py-fix, lint-py-check

Fix PyScript root component not hiding after render error (#1347)
  src/reactpy/executors/pyscript/layout_handler.py
  tests/test_pyscript/pyscript_components/root_error.py
  tests/test_pyscript/test_components.py
Due: lint-py-fix, lint-py-check

`reactpy` v2.0.0b12 and `@reactpy/client` v1.2.0
  src/js/packages/@reactpy/client/package.json
  src/reactpy/__init__.py
Due: lint-py-fix, lint-py-check

Migrate legacy changelog to new changelog
  CHANGELOG.md
  docs/source/about/changelog.rst
Due: none

`reactpy` v2.0.0b12 and `@reactpy/client` v1.2.0 (#1348)
  CHANGELOG.md
  docs/source/about/changelog.rst
  src/js/packages/@reactpy/client/package.json
  src/reactpy/__init__.py
Due: lint-py-fix, lint-py-check

Switch to PyPi trusted publishing
  .github/workflows/.hatch-run.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish.yml
  pyproject.toml
Due: none

Switch to PyPi trusted publishing (#1349)
  .github/workflows/.hatch-run.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish.yml
  pyproject.toml
Due: none

version bump
  src/reactpy/__init__.py
Due: lint-py-fix, lint-py-check

add TCP-like event sequencing to retain order
  src/js/packages/@reactpy/client/src/components.tsx
  src/js/packages/@reactpy/client/src/types.ts
  src/js/packages/@reactpy/client/src/vdom.tsx
  src/reactpy/core/layout.py
  src/reactpy/executors/pyscript/utils.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

fmt
  src/js/packages/@reactpy/client/src/components.tsx
Due: lint-js-fix, lint-js-check

remove 200ms input debounce
  src/js/packages/@reactpy/client/src/components.tsx
  src/js/packages/@reactpy/client/src/handler.ts
Due: lint-js-fix, lint-js-check

fix tests
  src/reactpy/core/layout.py
  tests/test_core/test_events.py
Due: lint-py-fix, lint-py-check

ensure lcs list is deleted
  src/reactpy/core/layout.py
Due: lint-py-fix, lint-py-check

lower typing delay
  src/reactpy/testing/common.py
  tests/test_core/test_events.py
Due: lint-py-fix, lint-py-check

prevent deadlock when set_state is called during render
  src/reactpy/core/layout.py
Due: lint-py-fix, lint-py-check

simplify deadlock prevention and async render test adjustments
  src/reactpy/core/layout.py
  tests/test_core/test_events.py
  tests/test_core/test_layout.py
Due: lint-py-fix, lint-py-check

fix coverage
  tests/test_core/test_layout.py
Due: lint-py-fix, lint-py-check

fix js lint
  src/js/packages/@reactpy/client/src/components.tsx
Due: lint-js-fix, lint-js-check

2.0.0b13 (#1350)
  src/js/packages/@reactpy/client/src/components.tsx
  src/js/packages/@reactpy/client/src/handler.ts
  src/js/packages/@reactpy/client/src/types.ts
  src/js/packages/@reactpy/client/src/vdom.tsx
  src/reactpy/__init__.py
  src/reactpy/core/layout.py
  src/reactpy/executors/pyscript/utils.py
  src/reactpy/testing/common.py
  tests/test_core/test_events.py
  tests/test_core/test_layout.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

reactpy/client v1.3.0
  src/js/packages/@reactpy/client/package.json
Due: none

reactpy/client v1.3.0 (#1351)
  src/js/packages/@reactpy/client/package.json
Due: none
