Repository reactive-python/reactpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

lint-py-fix:
  name: Fix Python Lint
  entry: hatch run lint-py
  language: system
  args:
  - --fix
  pass_filenames: false

lint-js-fix:
  name: Fix JS Lint
  entry: hatch run lint-js --fix
  language: system
  pass_filenames: false

lint-py-check:
  name: Check Python Lint
  entry: hatch run lint-py
  language: system
  pass_filenames: false

lint-js-check:
  name: Check JS Lint
  entry: hatch run lint-py
  language: system
  pass_filenames: false

Remove changelog entry
  docs/source/about/changelog.rst
Due: none

Fix flaky test: ESM module loading race condition in test_subcomponent_notation (#1315)
  tests/test_reactjs/js_fixtures/subcomponent-notation.js
  tests/test_web/js_fixtures/subcomponent-notation.js
Due: lint-js-fix, lint-js-check

Bump version string to `v2.0.0b6`
  pyproject.toml
  src/reactpy/__init__.py
Due: lint-py-fix, lint-py-check

misc file/comment cleanup
  src/js/packages/event-to-object/src/events.ts
  src/reactpy/types.py
  tests/tooling/hooks.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

Bump version string to `v2.0.0b6` (#1316)
  pyproject.toml
  src/js/packages/event-to-object/src/events.ts
  src/reactpy/__init__.py
  src/reactpy/types.py
  tests/tooling/hooks.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

Improve test runner speed
  pyproject.toml
  src/reactpy/testing/display.py
  tests/conftest.py
  tests/test_asgi/test_middleware.py
  tests/test_asgi/test_pyscript.py
  tests/test_asgi/test_standalone.py
  tests/test_client.py
  tests/test_pyscript/test_components.py
  tests/test_reactjs/__init__.py
  tests/test_reactjs/test_modules.py
  tests/test_reactjs/test_modules_from_npm.py
  tests/test_testing.py
  tests/test_web/test_module.py
Due: lint-py-fix, lint-py-check

Add pytest-timeout
  pyproject.toml
Due: none

Add compatibility for test in `--parallel` mode
  .github/copilot-instructions.md
  .github/workflows/check.yml
  pyproject.toml
  src/reactpy/reactjs/module.py
  src/reactpy/reactjs/utils.py
  src/reactpy/testing/backend.py
  src/reactpy/testing/display.py
  src/reactpy/testing/utils.py
  tests/conftest.py
  tests/test_reactjs/js_fixtures/subcomponent-notation.js
  tests/test_testing.py
  tests/test_utils.py
  tests/test_web/js_fixtures/subcomponent-notation.js
  tests/test_web/test_module.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

fix coverage
  tests/conftest.py
  tests/test_reactjs/test_utils.py
  tests/test_testing.py
Due: lint-py-fix, lint-py-check

Attempt fix for failing tests
  tests/conftest.py
Due: lint-py-fix, lint-py-check

Move test dep configuration out of Pytest and into Hatch
  pyproject.toml
  src/build_scripts/clean_js_dir.py
  src/reactpy/testing/__init__.py
  src/reactpy/testing/common.py
  tests/conftest.py
Due: lint-py-fix, lint-py-check

self review
  src/reactpy/reactjs/module.py
  src/reactpy/reactjs/utils.py
  src/reactpy/testing/display.py
  tests/test_reactjs/test_utils.py
Due: lint-py-fix, lint-py-check

fix tests
  tests/test_web/test_module.py
Due: lint-py-fix, lint-py-check

fix coverage
  pyproject.toml
Due: none

Extend timeout since GITHUB_ACTIONS windows runners are slow
  src/reactpy/testing/backend.py
  src/reactpy/testing/display.py
  tests/test_asgi/test_pyscript.py
Due: lint-py-fix, lint-py-check

Remove usage of anyio pytest marker
  tests/test_reactjs/test_modules.py
  tests/test_reactjs/test_modules_from_npm.py
Due: lint-py-fix, lint-py-check

fix coverage script sequence
  pyproject.toml
Due: none

Attempt different way of setting max timeout
  src/reactpy/testing/display.py
Due: lint-py-fix, lint-py-check

Move playwright installation to a build script
  pyproject.toml
  src/build_scripts/copy_dir.py
  src/build_scripts/install_playwright.py
Due: lint-py-fix, lint-py-check

attempt setting timeout on `expect` global
  src/reactpy/testing/display.py
Due: lint-py-fix, lint-py-check

Fix test runtime warnings
  pyproject.toml
  src/reactpy/testing/display.py
  tests/conftest.py
  tests/test_testing.py
Due: lint-py-fix, lint-py-check

delete old coverage files each test run
  pyproject.toml
  src/build_scripts/delete_old_coverage.py
Due: lint-py-fix, lint-py-check

Try increasing global test timeout
  src/reactpy/config.py
  tests/conftest.py
Due: lint-py-fix, lint-py-check

export github actions within reactpy.testing
  src/reactpy/testing/__init__.py
Due: lint-py-fix, lint-py-check

fix `pip install -e .`
  pyproject.toml
Due: none

minor f-string refactor
  src/reactpy/reactjs/utils.py
Due: lint-py-fix, lint-py-check

Add bundle flag to npm modules
  src/reactpy/reactjs/__init__.py
Due: lint-py-fix, lint-py-check

Rewrite JS build steps. Rewrite fetching logic for remote components, React, and React-DOM.
  .github/workflows/publish.yml
  pyproject.toml
  src/build_scripts/build_js_app.py
  src/build_scripts/build_js_client.py
  src/build_scripts/build_js_event_to_object.py
  src/js/bun.lockb
  src/js/package.json
  src/js/packages/@reactpy/app/package.json
  src/js/packages/@reactpy/app/src/preact-dom.ts
  src/js/packages/@reactpy/app/src/preact-jsx-runtime.ts
  src/js/packages/@reactpy/app/src/preact.ts
  src/js/packages/@reactpy/app/src/react-jsx-runtime.ts
  src/js/packages/@reactpy/client/package.json
  src/js/packages/@reactpy/client/src/bind.tsx
  src/js/packages/@reactpy/client/src/vdom.tsx
  src/js/tsconfig.json
  src/reactpy/reactjs/__init__.py
  src/reactpy/reactjs/module.py
  src/reactpy/reactjs/utils.py
  src/reactpy/testing/display.py
  tests/test_reactjs/test_modules_from_npm.py
  tests/test_reactjs/test_utils.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

Remove copy from build script
  pyproject.toml
Due: none

Fix JS linting
  pyproject.toml
  src/js/packages/@reactpy/client/src/bind.tsx
Due: lint-js-fix, lint-js-check

Attempt fix for flaky ReactJS component mounting
  src/js/packages/@reactpy/client/src/components.tsx
Due: lint-js-fix, lint-js-check

attempt 2
  src/js/packages/@reactpy/client/src/vdom.tsx
Due: lint-js-fix, lint-js-check

attempt 3
  src/js/packages/@reactpy/client/src/components.tsx
Due: lint-js-fix, lint-js-check

attempt 4
  src/js/packages/@reactpy/client/src/bind.tsx
  src/reactpy/reactjs/module.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

Attempt 5
  src/js/packages/@reactpy/client/src/bind.tsx
Due: lint-js-fix, lint-js-check

simplify bind logic
  src/js/packages/@reactpy/client/src/bind.tsx
Due: lint-js-fix, lint-js-check

Use a deterministic way of waiting for elements in npm tests
  tests/test_reactjs/test_modules_from_npm.py
Due: lint-py-fix, lint-py-check

bugfix for null root element
  src/js/packages/@reactpy/client/src/bind.tsx
Due: lint-js-fix, lint-js-check

update docstring
  src/reactpy/reactjs/module.py
Due: lint-py-fix, lint-py-check

Path conditions:
  lint-py-fix: any of: \.py$
  lint-js-fix: any of: \.(js|jsx|ts|tsx)$
  lint-py-check: any of: \.py$
  lint-js-check: any of: \.(js|jsx|ts|tsx)$
