Repository reactive-python/reactpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

lint-py-fix:
  name: Fix Python Lint
  entry: hatch run lint-py
  language: system
  args:
  - --fix
  pass_filenames: false

lint-js-fix:
  name: Fix JS Lint
  entry: hatch run lint-js --fix
  language: system
  pass_filenames: false

lint-py-check:
  name: Check Python Lint
  entry: hatch run lint-py
  language: system
  pass_filenames: false

lint-js-check:
  name: Check JS Lint
  entry: hatch run lint-py
  language: system
  pass_filenames: false

Improved default transforms for `vdom_to_html`
  src/reactpy/testing/common.py
  src/reactpy/transforms.py
  src/reactpy/types.py
  src/reactpy/utils.py
  tests/test_utils.py
Due: lint-py-fix, lint-py-check

Fix coverage
  tests/test_utils.py
Due: lint-py-fix, lint-py-check

Add changelog
  docs/source/about/changelog.rst
Due: none

Infer key from `attributes["key"]`
  src/reactpy/transforms.py
  tests/test_utils.py
Due: lint-py-fix, lint-py-check

`string_to_reactpy` and `reactpy_to_string`
  src/reactpy/__init__.py
  src/reactpy/executors/asgi/standalone.py
  src/reactpy/executors/utils.py
  src/reactpy/pyscript/components.py
  src/reactpy/pyscript/utils.py
  src/reactpy/transforms.py
  src/reactpy/utils.py
  tests/test_utils.py
Due: lint-py-fix, lint-py-check

Update changelog
  docs/source/about/changelog.rst
Due: none

Remove unused import of Union from typing
  src/reactpy/utils.py
Due: lint-py-fix, lint-py-check

Improve and rename `vdom_to_html` -> `reactpy_to_html` (#1278)
  docs/source/about/changelog.rst
  src/reactpy/__init__.py
  src/reactpy/core/_life_cycle_hook.py
  src/reactpy/core/_thread_local.py
  src/reactpy/core/hooks.py
  src/reactpy/executors/asgi/middleware.py
  src/reactpy/executors/asgi/pyscript.py
  src/reactpy/executors/asgi/standalone.py
  src/reactpy/executors/utils.py
  src/reactpy/pyscript/components.py
  src/reactpy/pyscript/utils.py
  src/reactpy/templatetags/jinja.py
  src/reactpy/testing/common.py
  src/reactpy/testing/display.py
  src/reactpy/testing/utils.py
  src/reactpy/transforms.py
  src/reactpy/types.py
  src/reactpy/utils.py
  tests/test_utils.py
Due: lint-py-fix, lint-py-check

Improved type hints for `reactpy.html`
  src/reactpy/_html.py
  src/reactpy/types.py
Due: lint-py-fix, lint-py-check

Fix type checker errors
  src/reactpy/core/vdom.py
  src/reactpy/transforms.py
  src/reactpy/types.py
  src/reactpy/widgets.py
Due: lint-py-fix, lint-py-check

Clean up a few other type hints
  src/reactpy/types.py
Due: lint-py-fix, lint-py-check

Quick and dirty CSS style type hints
  src/reactpy/types.py
Due: lint-py-fix, lint-py-check

Update comments
  src/reactpy/_html.py
Due: lint-py-fix, lint-py-check

Vdom constructor as a class-based interface
  pyproject.toml
  src/reactpy/__init__.py
  src/reactpy/_html.py
  src/reactpy/core/vdom.py
  src/reactpy/transforms.py
  src/reactpy/types.py
  src/reactpy/utils.py
  src/reactpy/web/module.py
  tests/test_core/test_component.py
  tests/test_core/test_layout.py
  tests/test_core/test_vdom.py
Due: lint-py-fix, lint-py-check

Fix python 3.10 compat
  src/reactpy/core/vdom.py
  src/reactpy/types.py
Due: lint-py-fix, lint-py-check

Add test case for recursive flattening
  tests/test_core/test_vdom.py
Due: lint-py-fix, lint-py-check

Change `VdomDict` into a `dict` subclass
  src/reactpy/_html.py
  src/reactpy/core/hooks.py
  src/reactpy/core/layout.py
  src/reactpy/core/vdom.py
  src/reactpy/types.py
  src/reactpy/widgets.py
  tests/sample.py
  tests/test_core/test_vdom.py
Due: lint-py-fix, lint-py-check

better vdom checks
  src/reactpy/core/vdom.py
  src/reactpy/types.py
  tests/test_core/test_vdom.py
Due: lint-py-fix, lint-py-check

fix type errors
  src/reactpy/core/vdom.py
  src/reactpy/types.py
Due: lint-py-fix, lint-py-check

Self review
  docs/source/about/changelog.rst
  src/reactpy/_html.py
  src/reactpy/core/hooks.py
  src/reactpy/core/vdom.py
  src/reactpy/types.py
  src/reactpy/web/module.py
  tests/test_core/test_vdom.py
Due: lint-py-fix, lint-py-check

Simplier interface for `reactpy.Vdom`
  src/reactpy/_html.py
  src/reactpy/core/vdom.py
  src/reactpy/web/module.py
  tests/test_core/test_component.py
  tests/test_core/test_layout.py
  tests/test_core/test_vdom.py
Due: lint-py-fix, lint-py-check

Rework VDOM construction and type hints (#1281)
  docs/source/about/changelog.rst
  pyproject.toml
  src/reactpy/__init__.py
  src/reactpy/_html.py
  src/reactpy/core/hooks.py
  src/reactpy/core/layout.py
  src/reactpy/core/vdom.py
  src/reactpy/transforms.py
  src/reactpy/types.py
  src/reactpy/utils.py
  src/reactpy/web/module.py
  src/reactpy/widgets.py
  tests/sample.py
  tests/test_core/test_component.py
  tests/test_core/test_layout.py
  tests/test_core/test_vdom.py
Due: lint-py-fix, lint-py-check

Set React's onChange property for input elements if its not provided
  src/js/packages/@reactpy/client/src/components.tsx
Due: lint-js-fix, lint-js-check

Test written
  tests/test_web/js_fixtures/keys-properly-propagated.js
  tests/test_web/test_module.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

Delete unnecessary, commented out lines
  tests/test_web/test_module.py
Due: lint-py-fix, lint-py-check

Update keys-properly-propagated.js
  tests/test_web/js_fixtures/keys-properly-propagated.js
Due: lint-js-fix, lint-js-check

Update test_module.py
  tests/test_web/test_module.py
Due: lint-py-fix, lint-py-check

Adds docstring and tweaks changelog Per feedback by @Archmonger
  docs/source/about/changelog.rst
  tests/test_web/test_module.py
Due: lint-py-fix, lint-py-check

Update docstring in test_module.py
  tests/test_web/test_module.py
Due: lint-py-fix, lint-py-check

Handles fix on server-side rather than client-side
  src/js/packages/@reactpy/client/src/vdom.tsx
  src/reactpy/core/vdom.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

Update tests per maintaing "key" in vdom attrs
  src/reactpy/_html.py
  src/reactpy/transforms.py
  tests/test_utils.py
Due: lint-py-fix, lint-py-check

Alternate solution for expensive any on attributes
  src/reactpy/_html.py
Due: lint-py-fix, lint-py-check

Ensures key is properly propagated to importedElements (#1271)
  docs/source/about/changelog.rst
  src/reactpy/_html.py
  src/reactpy/core/vdom.py
  src/reactpy/transforms.py
  tests/test_utils.py
  tests/test_web/js_fixtures/keys-properly-propagated.js
  tests/test_web/test_module.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

unbork large portions of the theme
  .editorconfig
  .github/workflows/publish-docs.yml
  .gitignore
  CHANGELOG.md
  LICENSE
  LICENSE.md
  docs/mkdocs.yml
  docs/overrides/home.html
  docs/overrides/homepage_examples/add_interactivity.py
  docs/overrides/homepage_examples/add_interactivity_demo.html
  docs/overrides/homepage_examples/code_block.html
  docs/overrides/homepage_examples/create_user_interfaces.py
  docs/overrides/homepage_examples/create_user_interfaces_demo.html
  docs/overrides/homepage_examples/write_components_with_python.py
  docs/overrides/homepage_examples/write_components_with_python_demo.html
  docs/overrides/main.html
  docs/requirements.txt
  docs/src/about/changelog.md
  docs/src/assets/css/admonition.css
  docs/src/assets/css/banner.css
  docs/src/assets/css/button.css
  docs/src/assets/css/code.css
  docs/src/assets/css/footer.css
  docs/src/assets/css/home.css
  docs/src/assets/css/main.css
  docs/src/assets/css/navbar.css
  docs/src/assets/css/sidebar.css
  docs/src/assets/css/table-of-contents.css
  docs/src/assets/images/add-interactivity.png
  docs/src/assets/images/create-user-interfaces.png
  docs/src/assets/images/s_thinking-in-react_ui.png
  docs/src/assets/images/s_thinking-in-react_ui_outline.png
  docs/src/assets/images/write-components-with-python.png
  docs/src/assets/js/main.js
  docs/src/index.md
  docs/src/static/css/extra.css
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

fix a few pages
  docs/mkdocs.yml
  docs/src/about/licenses.md
  docs/src/reference/components-and-hooks-must-be-pure.md
  docs/src/reference/django.md
  docs/src/reference/fastapi.md
  docs/src/reference/flask.md
  docs/src/reference/jupyter.md
  docs/src/reference/overview.md
  docs/src/reference/plotly-dash.md
  docs/src/reference/react-calls-components-and-hooks.md
  docs/src/reference/reactpy-csr.md
  docs/src/reference/reactpy-middleware.md
  docs/src/reference/reactpy.md
  docs/src/reference/rules-of-hooks.md
  docs/src/reference/rules-of-react.md
  docs/src/reference/sanic.md
  docs/src/reference/starlette.md
  docs/src/reference/tornado.md
  docs/src/reference/use-async-effect.md
Due: none

Path conditions:
  lint-py-fix: any of: \.py$
  lint-js-fix: any of: \.(js|jsx|ts|tsx)$
  lint-py-check: any of: \.py$
  lint-js-check: any of: \.(js|jsx|ts|tsx)$
