Repository reactive-python/reactpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint-py-fix
        name: Fix Python Lint
        entry: hatch run lint-py
        language: system
        args: [--fix]
        pass_filenames: false
        files: \.py$
  - repo: local
    hooks:
      - id: lint-js-fix
        name: Fix JS Lint
        entry: hatch run lint-js --fix
        language: system
        pass_filenames: false
        files: \.(js|jsx|ts|tsx)$
  - repo: local
    hooks:
      - id: lint-py-check
        name: Check Python Lint
        entry: hatch run lint-py
        language: system
        pass_filenames: false
        files: \.py$
  - repo: local
    hooks:
      - id: lint-js-check
        name: Check JS Lint
        entry: hatch run lint-py
        language: system
        pass_filenames: false
        files: \.(js|jsx|ts|tsx)$

fix sdist (#1191)
  docs/source/about/changelog.rst
  src/js/app/vite.config.js
  src/py/reactpy/.gitignore
  src/py/reactpy/pyproject.toml
  src/py/reactpy/reactpy/backend/_common.py
  tasks.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

Always render script element as plain HTML
  src/js/packages/@reactpy/client/src/components.tsx
Due: lint-js-fix, lint-js-check

fix hook deprecation warning
  src/py/reactpy/reactpy/backend/hooks.py
Due: lint-py-fix, lint-py-check

fix hook deprecation warning (#1240)
  src/py/reactpy/reactpy/backend/hooks.py
Due: lint-py-fix, lint-py-check

Add editor config
  .editorconfig
Due: none

Use local JS for building bundles
  src/js/app/package.json
  src/js/package-lock.json
  src/js/packages/@reactpy/client/package.json
  src/py/reactpy/.temp.py
  src/py/reactpy/pyproject.toml
  src/py/reactpy/scripts/copy_js_output.py
Due: lint-py-fix, lint-py-check

Fix build dir
  src/py/reactpy/reactpy/backend/_common.py
Due: lint-py-fix, lint-py-check

Add todo
  src/js/packages/@reactpy/client/src/components.tsx
Due: lint-js-fix, lint-js-check

Remove unneeded docstring
  src/py/reactpy/reactpy/html.py
Due: lint-py-fix, lint-py-check

Remove unneeded test
  src/py/reactpy/tests/test_html.py
Due: lint-py-fix, lint-py-check

simplify build script
  src/py/reactpy/scripts/copy_js_output.py
Due: lint-py-fix, lint-py-check

cleanup code
  src/js/packages/@reactpy/client/src/components.tsx
  src/py/reactpy/reactpy/html.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

Fix test to account for removal of unmount
  src/py/reactpy/tests/test_html.py
Due: lint-py-fix, lint-py-check

noqa for print
  src/py/reactpy/scripts/copy_js_output.py
Due: lint-py-fix, lint-py-check

Build JS distributables using local javascript
  .editorconfig
  src/js/app/package.json
  src/js/package-lock.json
  src/js/packages/@reactpy/client/package.json
  src/py/reactpy/.temp.py
  src/py/reactpy/pyproject.toml
  src/py/reactpy/reactpy/backend/_common.py
  src/py/reactpy/scripts/copy_js_output.py
Due: lint-py-fix, lint-py-check

Build JS distributables using local javascript (#1243)
  .editorconfig
  src/js/app/package.json
  src/js/package-lock.json
  src/js/packages/@reactpy/client/package.json
  src/py/reactpy/.temp.py
  src/py/reactpy/pyproject.toml
  src/py/reactpy/reactpy/backend/_common.py
  src/py/reactpy/scripts/copy_js_output.py
Due: lint-py-fix, lint-py-check

v1.1.0
  docs/source/about/changelog.rst
  src/py/reactpy/reactpy/__init__.py
Due: lint-py-fix, lint-py-check

v1.1.0 (#1244)
  docs/source/about/changelog.rst
  src/py/reactpy/reactpy/__init__.py
Due: lint-py-fix, lint-py-check

Fix tests CI badge
  README.md
Due: none

Fix tests CI badge (#1245)
  README.md
Due: none

bad attempt at getting bun working
  src/js/app/package-lock.json
  src/js/app/tsconfig.json
  src/js/app/vite.config.js
  src/js/bun.lockb
  src/js/package-lock.json
  src/js/package.json
  src/js/packages/@reactpy/app/.eslintrc.json
  src/js/packages/@reactpy/app/index.html
  src/js/packages/@reactpy/app/package.json
  src/js/packages/@reactpy/app/public/assets/reactpy-logo.ico
  src/js/packages/@reactpy/app/src/index.ts
  src/js/packages/@reactpy/client/package.json
  src/js/packages/@reactpy/client/tsconfig.json
  src/js/packages/event-to-object/tsconfig.json
  src/js/packages/event-to-object/tsconfig.tests.json
  src/js/tsconfig.package.json
Due: lint-js-fix, lint-js-check

re-add tsconfig
  src/js/packages/@reactpy/app/tsconfig.json
  src/js/packages/@reactpy/client/tsconfig.json
  src/js/packages/event-to-object/tsconfig.json
  src/js/tsconfig.package.json
Due: none

re-add TS config
  src/js/package.json
  src/js/packages/@reactpy/app/tsconfig.json
  src/js/packages/@reactpy/client/tsconfig.json
  src/js/packages/event-to-object/tsconfig.json
  src/js/tsconfig.json
Due: none

functional JS build
  pyproject.toml
  src/js/bun.lockb
  src/js/package.json
  src/js/packages/@reactpy/app/bun.lockb
  src/js/packages/@reactpy/app/package.json
  src/js/packages/@reactpy/client/bun.lockb
  src/js/packages/@reactpy/client/package.json
  src/js/packages/event-to-object/bun.lockb
  src/js/packages/event-to-object/package.json
Due: none

Remove unneded tsconfig
  src/js/packages/@reactpy/app/tsconfig.json
  src/js/packages/@reactpy/client/tsconfig.json
  src/js/packages/event-to-object/tsconfig.json
  src/js/tsconfig.json
Due: none

cleaner build cmd
  pyproject.toml
Due: none

clean up install cmd
  pyproject.toml
Due: none

Seemingly fully functional Python build?
  .gitignore
  pyproject.toml
  src/build_scripts/copy_js_output.py
  src/js/packages/@reactpy/app/index.html
  src/js/packages/@reactpy/app/public/assets/reactpy-logo.ico
  src/js/packages/@reactpy/app/src/index.ts
  src/reactpy/backend/_common.py
  src/reactpy/static/index.html
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

functional `hatch test` command
  pyproject.toml
  tests/test_backend/test_all.py
Due: lint-py-fix, lint-py-check

refactor test names
  tests/test_asserts.py
  tests/test_backend/test_common.py
  tests/test_console/__init__.py
  tests/test_console/test_rewrite_camel_case_props.py
  tests/test_console/test_rewrite_keys.py
  tests/test_option.py
  tests/test_web/test_module.py
Due: lint-py-fix, lint-py-check

fix misc test warnings
  tests/test_core/test_layout.py
  tests/test_web/test_module.py
Due: lint-py-fix, lint-py-check

prep work to get CI working
  .editorconfig
  .github/workflows/.hatch-run.yml
  .github/workflows/check.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/publish.yml
  pyproject.toml
  src/js/.gitignore
  src/js/package.json
  src/js/packages/@reactpy/app/package.json
  src/js/packages/@reactpy/app/src/index.ts
  src/js/packages/@reactpy/app/tsconfig.json
  src/js/packages/@reactpy/client/bun.lockb
  src/js/packages/@reactpy/client/package.json
  src/js/packages/@reactpy/client/src/components.tsx
  src/js/packages/@reactpy/client/src/mount.tsx
  src/js/packages/@reactpy/client/tsconfig.json
  src/js/packages/event-to-object/bun.lockb
  src/js/packages/event-to-object/package.json
  src/js/packages/event-to-object/src/events.ts
  src/js/packages/event-to-object/src/index.ts
  src/js/packages/event-to-object/tsconfig.json
  src/js/tsconfig.json
Due: lint-js-fix, lint-js-check

fully functional build sequence for JS
  pyproject.toml
  src/build_scripts/clean_js_dir.py
  src/build_scripts/copy_dir.py
  src/js/packages/@reactpy/app/bun.lockb
  src/js/packages/@reactpy/app/package.json
  src/js/packages/@reactpy/client/bun.lockb
  src/js/packages/@reactpy/client/package.json
Due: lint-py-fix, lint-py-check

increase test timeout
  pyproject.toml
  src/reactpy/config.py
Due: lint-py-fix, lint-py-check

potentially working publishing workflow
  .github/workflows/.hatch-run.yml
  .github/workflows/publish.yml
  docs/source/about/changelog.rst
  pyproject.toml
  src/js/.gitignore
  src/js/package.json
  src/js/packages/@reactpy/app/bun.lockb
  src/js/packages/@reactpy/app/package.json
  src/js/packages/@reactpy/client/.gitignore
  src/js/packages/@reactpy/client/bun.lockb
  src/js/packages/@reactpy/client/package.json
  src/js/packages/event-to-object/README.md
  src/js/packages/event-to-object/package.json
  src/js/packages/event-to-object/tests/tooling/mock.ts
Due: lint-js-fix, lint-js-check

potentially working check workflows
  .github/workflows/check.yml
  LICENSE
  docs/README.md
  docs/poetry.lock
  docs/pyproject.toml
  docs/source/_custom_js/package-lock.json
  docs/source/_exts/autogen_api_docs.py
  pyproject.toml
  src/reactpy/_console/rewrite_camel_case_props.py
  src/reactpy/_console/rewrite_keys.py
  src/reactpy/_warnings.py
  src/reactpy/backend/tornado.py
  src/reactpy/core/component.py
  src/reactpy/core/events.py
  src/reactpy/core/vdom.py
  src/reactpy/html.py
  src/reactpy/testing/backend.py
  tests/test_console/test_rewrite_camel_case_props.py
  tests/test_console/test_rewrite_keys.py
Due: lint-py-fix, lint-py-check

reduce coverage percent
  pyproject.toml
Due: none

attempt some CI fixes
  pyproject.toml
Due: none

docs serve cmd
  pyproject.toml
Due: none
