Repository reactive-python/reactpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint-py-fix
        name: Fix Python Lint
        entry: hatch run lint-py
        language: system
        args: [--fix]
        pass_filenames: false
        files: \.py$
  - repo: local
    hooks:
      - id: lint-js-fix
        name: Fix JS Lint
        entry: hatch run lint-js --fix
        language: system
        pass_filenames: false
        files: \.(js|jsx|ts|tsx)$
  - repo: local
    hooks:
      - id: lint-py-check
        name: Check Python Lint
        entry: hatch run lint-py
        language: system
        pass_filenames: false
        files: \.py$
  - repo: local
    hooks:
      - id: lint-js-check
        name: Check JS Lint
        entry: hatch run lint-py
        language: system
        pass_filenames: false
        files: \.(js|jsx|ts|tsx)$

Attempt fixes for docker build
  docs/Dockerfile
  pyproject.toml
Due: none

Attempt at fixing poetry install
  docs/Dockerfile
Due: none

copy more stuff
  docs/Dockerfile
Due: none

fix hatch dep for docker
  docs/Dockerfile
Due: none

Install bun in docker image
  docs/Dockerfile
Due: none

Try removing nsolid
  docs/Dockerfile
Due: none

Switch docs to use bun
  docs/Dockerfile
  docs/source/_custom_js/README.md
  docs/source/_custom_js/bun.lockb
  docs/source/_custom_js/package-lock.json
  docs/source/_exts/build_custom_js.py
  pyproject.toml
Due: lint-py-fix, lint-py-check

self review
  .github/workflows/check.yml
  docs/Dockerfile
  docs/source/about/changelog.rst
  pyproject.toml
Due: none

Better coverage settings
  pyproject.toml
Due: none

Add documentation for new hatch commands
  .github/workflows/check.yml
  docs/source/_exts/autogen_api_docs.py
  docs/source/about/changelog.rst
  docs/source/about/contributor-guide.rst
  docs/source/guides/getting-started/installing-reactpy.rst
  pyproject.toml
  src/build_scripts/copy_dir.py
  tests/conftest.py
Due: lint-py-fix, lint-py-check

Attempt to fix heroku publishing
  .github/workflows/deploy-docs.yml
Due: none

Attempt to fix heroku publishing (#1252)
  .github/workflows/deploy-docs.yml
Due: none

Re-add changes from deleted commits
  pyproject.toml
  src/reactpy/html.py
  tests/test_html.py
Due: lint-py-fix, lint-py-check

Fix tests
  tests/conftest.py
  tests/test_html.py
Due: lint-py-fix, lint-py-check

Allow test_module_from_url to rerun
  tests/test_web/test_module.py
Due: lint-py-fix, lint-py-check

Clean up ScriptElement source code
  src/js/packages/@reactpy/client/src/components.tsx
Due: lint-js-fix, lint-js-check

Add changelog
  docs/source/about/changelog.rst
Due: none

Fix tests
  src/js/packages/@reactpy/client/src/components.tsx
Due: lint-js-fix, lint-js-check

Fix flakey test_use_linked_inputs
  tests/tooling/common.py
Due: lint-py-fix, lint-py-check

Always render script element as plain HTML (#1239)
  docs/source/about/changelog.rst
  pyproject.toml
  src/js/packages/@reactpy/client/src/components.tsx
  src/reactpy/html.py
  tests/conftest.py
  tests/test_html.py
  tests/test_web/test_module.py
  tests/tooling/common.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

Bug fix for corrupted hook state - change hook state to a contextvar
  src/reactpy/core/_life_cycle_hook.py
  src/reactpy/core/serve.py
Due: lint-py-fix, lint-py-check

Bump JavaScript dependencies
  pyproject.toml
  src/js/.eslintrc.json
  src/js/bun.lockb
  src/js/eslint.config.mjs
  src/js/package.json
  src/js/packages/@reactpy/app/.eslintrc.json
  src/js/packages/@reactpy/app/bun.lockb
  src/js/packages/@reactpy/app/eslint.config.mjs
  src/js/packages/@reactpy/app/package.json
  src/js/packages/@reactpy/client/bun.lockb
  src/js/packages/@reactpy/client/package.json
  src/js/packages/event-to-object/bun.lockb
  src/js/packages/event-to-object/package.json
Due: none

revert happy-dom version
  src/js/packages/event-to-object/bun.lockb
  src/js/packages/event-to-object/package.json
Due: none

remove unneeded deps from @reactpy/app
  src/js/packages/@reactpy/app/bun.lockb
  src/js/packages/@reactpy/app/package.json
Due: none

Bump JavaScript dependencies (#1253)
  pyproject.toml
  src/js/.eslintrc.json
  src/js/bun.lockb
  src/js/eslint.config.mjs
  src/js/package.json
  src/js/packages/@reactpy/app/.eslintrc.json
  src/js/packages/@reactpy/app/bun.lockb
  src/js/packages/@reactpy/app/eslint.config.mjs
  src/js/packages/@reactpy/app/package.json
  src/js/packages/@reactpy/client/bun.lockb
  src/js/packages/@reactpy/client/package.json
  src/js/packages/event-to-object/bun.lockb
  src/js/packages/event-to-object/package.json
Due: none

Refactor and fix type hints
  pyproject.toml
  src/reactpy/core/_life_cycle_hook.py
  src/reactpy/core/serve.py
Due: lint-py-fix, lint-py-check

reduce LOC changes
  src/reactpy/backend/_common.py
  src/reactpy/backend/mimetypes.py
  tests/test_backend/test_common.py
Due: lint-py-fix, lint-py-check

rewrite `@reactpy/client`
  src/js/packages/@reactpy/client/src/client.ts
  src/js/packages/@reactpy/client/src/components.tsx
  src/js/packages/@reactpy/client/src/index.ts
  src/js/packages/@reactpy/client/src/logger.ts
  src/js/packages/@reactpy/client/src/messages.ts
  src/js/packages/@reactpy/client/src/mount.tsx
  src/js/packages/@reactpy/client/src/reactpy-client.ts
  src/js/packages/@reactpy/client/src/types.ts
  src/js/packages/@reactpy/client/src/vdom.tsx
  src/js/packages/@reactpy/client/src/websocket.ts
Due: lint-js-fix, lint-js-check

New build method of `@reactpy/app`
  .gitignore
  pyproject.toml
  src/js/packages/@reactpy/app/package.json
  src/js/packages/@reactpy/app/src/index.html
  src/js/packages/@reactpy/app/src/index.ts
  src/reactpy/static/index.html
Due: lint-js-fix, lint-js-check

Remove legacy backend code
  src/reactpy/backend/_common.py
  src/reactpy/backend/default.py
  src/reactpy/backend/fastapi.py
  src/reactpy/backend/flask.py
  src/reactpy/backend/hooks.py
  src/reactpy/backend/sanic.py
  src/reactpy/backend/starlette.py
  src/reactpy/backend/tornado.py
  src/reactpy/backend/types.py
Due: lint-py-fix, lint-py-check

allow extension matching in copy dir
  src/build_scripts/copy_dir.py
Due: lint-py-fix, lint-py-check

functional standalone app and static apps, broken dispatcher
  pyproject.toml
  src/js/packages/@reactpy/app/package.json
  src/js/packages/@reactpy/app/src/index.html
  src/js/packages/@reactpy/app/src/index.ts
  src/js/packages/@reactpy/client/src/mount.tsx
  src/js/packages/@reactpy/client/src/types.ts
  src/js/packages/@reactpy/client/src/websocket.ts
  src/reactpy/backend/asgi.py
  src/reactpy/backend/middleware.py
  src/reactpy/backend/standalone.py
  src/reactpy/backend/utils.py
  src/reactpy/core/layout.py
  src/reactpy/templates/index.html
  src/reactpy/types.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

move utils
  src/reactpy/backend/standalone.py
  src/reactpy/backend/utils.py
Due: lint-py-fix, lint-py-check

Functional standalone mode
  src/js/packages/@reactpy/client/src/client.ts
  src/js/packages/@reactpy/client/src/websocket.ts
  src/reactpy/backend/middleware.py
  src/reactpy/backend/standalone.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

refactoring
  src/reactpy/__init__.py
  src/reactpy/backend/middleware.py
  src/reactpy/backend/standalone.py
  src/reactpy/backend/utils.py
  src/reactpy/templates/index.html
Due: lint-py-fix, lint-py-check

Add Jinja to deps
  pyproject.toml
Due: none

Functional new syntax for HTML
  src/reactpy/__init__.py
  src/reactpy/_html.py
  src/reactpy/html.py
  src/reactpy/svg.py
  src/reactpy/widgets.py
  tests/sample.py
  tests/test_backend/test_utils.py
  tests/test_sample.py
  tests/test_testing.py
Due: lint-py-fix, lint-py-check

Fix console tests
  tests/test_console/test_rewrite_keys.py
Due: lint-py-fix, lint-py-check

Use new fragment syntax
  src/reactpy/_html.py
  src/reactpy/backend/_common.py
  tests/test_backend/test_common.py
  tests/test_client.py
  tests/test_core/test_hooks.py
  tests/test_core/test_layout.py
  tests/test_html.py
  tests/test_utils.py
Due: lint-py-fix, lint-py-check
