Repository reactive-python/reactpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint-py-fix
        name: Fix Python Lint
        entry: hatch run lint-py
        language: system
        args: [--fix]
        pass_filenames: false
        files: \.py$
  - repo: local
    hooks:
      - id: lint-js-fix
        name: Fix JS Lint
        entry: hatch run lint-js --fix
        language: system
        pass_filenames: false
        files: \.(js|jsx|ts|tsx)$
  - repo: local
    hooks:
      - id: lint-py-check
        name: Check Python Lint
        entry: hatch run lint-py
        language: system
        pass_filenames: false
        files: \.py$
  - repo: local
    hooks:
      - id: lint-js-check
        name: Check JS Lint
        entry: hatch run lint-py
        language: system
        pass_filenames: false
        files: \.(js|jsx|ts|tsx)$

fix lint
  src/reactpy/utils.py
Due: lint-py-fix, lint-py-check

attempt 4
  src/reactpy/utils.py
  tests/test_utils.py
Due: lint-py-fix, lint-py-check

Add delay
  tests/test_widgets.py
Due: lint-py-fix, lint-py-check

a few more delays
  tests/test_widgets.py
Due: lint-py-fix, lint-py-check

Bump JS packages and support new bun features
  pyproject.toml
  src/js/bun.lockb
  src/js/package.json
  src/js/packages/@reactpy/app/bun.lockb
  src/js/packages/@reactpy/app/package.json
  src/js/packages/@reactpy/client/bun.lockb
  src/js/packages/@reactpy/client/package.json
  src/js/packages/event-to-object/bun.lockb
  src/js/packages/event-to-object/package.json
Due: none

potential new design for event-to-object
  src/js/packages/event-to-object/new/index.ts
  src/js/packages/event-to-object/src/index.ts
Due: lint-js-fix, lint-js-check

new event-to-object tests
  .github/workflows/check.yml
  src/js/bun.lockb
  src/js/packages/event-to-object/package.json
  src/js/packages/event-to-object/tests/event-to-object.test.ts
  src/js/packages/event-to-object/tests/tooling/check.ts
  src/js/packages/event-to-object/tests/tooling/mock.ts
  src/js/packages/event-to-object/tests/tooling/setup.js
  src/js/packages/event-to-object/vitest.config.ts
Due: lint-js-fix, lint-js-check

refactor: change convert function to default export
  src/js/packages/event-to-object/src/index.ts
  src/js/packages/event-to-object/tests/tooling/check.ts
Due: lint-js-fix, lint-js-check

add test for data-* attributes
  src/js/packages/event-to-object/src/index.ts
  src/js/packages/event-to-object/tests/event-to-object.test.ts
  src/js/packages/event-to-object/tests/tooling/check.ts
Due: lint-js-fix, lint-js-check

Update hatch for new test config
  pyproject.toml
Due: none

Add tests for 'on' checkbox properties
  src/js/packages/event-to-object/src/index.ts
  src/js/packages/event-to-object/tests/event-to-object.test.ts
Due: lint-js-fix, lint-js-check

Add test to ensure name property exists on inputs
  src/js/packages/event-to-object/src/index.ts
  src/js/packages/event-to-object/tests/event-to-object.test.ts
Due: lint-js-fix, lint-js-check

Add a test for toggleable checked property on checkboxes
  src/js/packages/event-to-object/tests/event-to-object.test.ts
Due: lint-js-fix, lint-js-check

hatch fmt auto fixes
  src/reactpy/_console/rewrite_keys.py
  src/reactpy/core/component.py
  src/reactpy/core/hooks.py
  src/reactpy/core/vdom.py
  src/reactpy/web/utils.py
Due: lint-py-fix, lint-py-check

fix python lint errors with new hatch version
  pyproject.toml
  src/reactpy/_console/rewrite_keys.py
  src/reactpy/core/events.py
  src/reactpy/utils.py
Due: lint-py-fix, lint-py-check

revert hatch version due to dependency resolution bugs
  .github/workflows/.hatch-run.yml
  src/reactpy/core/vdom.py
Due: lint-py-fix, lint-py-check

try another pip install cmd
  .github/workflows/.hatch-run.yml
Due: none

try again
  .github/workflows/.hatch-run.yml
Due: none

handle file metadata in input fields
  src/js/packages/event-to-object/src/index.ts
  src/js/packages/event-to-object/tests/event-to-object.test.ts
Due: lint-js-fix, lint-js-check

Increase max depth
  src/js/packages/event-to-object/src/index.ts
Due: lint-js-fix, lint-js-check

handle infinite recursion
  src/js/packages/event-to-object/src/index.ts
  src/js/packages/event-to-object/tests/event-to-object.test.ts
Due: lint-js-fix, lint-js-check

Rewrite event-to-object package for improved event property handling
  docs/source/about/changelog.rst
  src/js/packages/@reactpy/client/package.json
  src/js/packages/event-to-object/package.json
  src/js/packages/event-to-object/src/index.ts
  tests/conftest.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

Increase default maxDepth and refine key processing for DOM Nodes in conversion
  src/js/packages/event-to-object/src/index.ts
Due: lint-js-fix, lint-js-check

fix js lint
  src/js/packages/event-to-object/src/index.ts
Due: lint-js-fix, lint-js-check

switch to hatch >=v1.16.2
  .github/workflows/.hatch-run.yml
  pyproject.toml
  src/reactpy/core/vdom.py
Due: lint-py-fix, lint-py-check

resolve co-pilot review comments
  src/js/packages/@reactpy/client/package.json
  src/js/packages/event-to-object/package.json
  src/js/packages/event-to-object/src/index.ts
Due: lint-js-fix, lint-js-check

Rewrite event-to-object package (#1306)
  .github/workflows/.hatch-run.yml
  .github/workflows/check.yml
  docs/source/about/changelog.rst
  pyproject.toml
  src/js/bun.lockb
  src/js/packages/@reactpy/client/package.json
  src/js/packages/event-to-object/package.json
  src/js/packages/event-to-object/src/index.ts
  src/js/packages/event-to-object/tests/event-to-object.test.ts
  src/js/packages/event-to-object/tests/tooling/check.ts
  src/js/packages/event-to-object/tests/tooling/mock.ts
  src/js/packages/event-to-object/tests/tooling/setup.js
  src/js/packages/event-to-object/vitest.config.ts
  src/reactpy/_console/rewrite_keys.py
  src/reactpy/core/component.py
  src/reactpy/core/events.py
  src/reactpy/core/hooks.py
  src/reactpy/core/vdom.py
  src/reactpy/utils.py
  src/reactpy/web/utils.py
  tests/conftest.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

Fix outdated dependency test suite errors (#1305)
  pyproject.toml
  src/js/bun.lockb
  src/js/package.json
  src/js/packages/@reactpy/app/bun.lockb
  src/js/packages/@reactpy/app/package.json
  src/js/packages/@reactpy/client/bun.lockb
  src/js/packages/@reactpy/client/package.json
  src/js/packages/event-to-object/bun.lockb
  src/js/packages/event-to-object/package.json
  src/reactpy/pyscript/component_template.py
  src/reactpy/testing/backend.py
  src/reactpy/utils.py
  tests/conftest.py
  tests/test_utils.py
  tests/test_widgets.py
Due: lint-py-fix, lint-py-check

Sync Preact build config with `reactpy-django` (#1296)
  .prettierrc
  src/js/README.md
  src/js/bun.lockb
  src/js/eslint.config.mjs
  src/js/package.json
  src/js/packages/@reactpy/app/bun.lockb
  src/js/packages/@reactpy/app/eslint.config.mjs
  src/js/packages/@reactpy/app/package.json
  src/js/packages/@reactpy/app/tsconfig.json
  src/js/packages/@reactpy/client/bun.lockb
  src/js/packages/@reactpy/client/package.json
  src/js/packages/@reactpy/client/src/client.ts
  src/js/packages/@reactpy/client/src/components.tsx
  src/js/packages/@reactpy/client/src/mount.tsx
  src/js/packages/@reactpy/client/src/types.ts
  src/js/packages/@reactpy/client/src/vdom.tsx
  src/js/packages/@reactpy/client/src/websocket.ts
  src/js/packages/@reactpy/client/tsconfig.json
  src/js/packages/event-to-object/bun.lockb
  src/js/packages/event-to-object/package.json
  src/js/packages/event-to-object/src/index.ts
  src/js/packages/event-to-object/tsconfig.json
  src/js/tsconfig.json
  src/reactpy/executors/utils.py
  tests/test_asgi/test_utils.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

Rename `reactpy.web.export`
  src/build_scripts/copy_dir.py
  src/reactpy/web/__init__.py
  src/reactpy/web/module.py
  tests/conftest.py
  tests/test_web/test_module.py
Due: lint-py-fix, lint-py-check

Revert "Rename `reactpy.web.export`"
  src/build_scripts/copy_dir.py
  src/reactpy/web/__init__.py
  src/reactpy/web/module.py
  tests/conftest.py
  tests/test_web/test_module.py
Due: lint-py-fix, lint-py-check

Deprecate `export` and `module_from_*` (replaced with `import_js_from_*`
  src/reactpy/web/module.py
Due: lint-py-fix, lint-py-check

Add tests
  src/reactpy/web/__init__.py
  src/reactpy/web/module.py
  tests/test_web/test_module.py
Due: lint-py-fix, lint-py-check

Add changelog
  docs/source/about/changelog.rst
Due: none

More robust keys for web module caching mechanism
  src/reactpy/web/module.py
  tests/test_web/test_module.py
Due: lint-py-fix, lint-py-check

more verbose naming
  docs/source/about/changelog.rst
  src/reactpy/web/__init__.py
  src/reactpy/web/module.py
  tests/test_web/test_module.py
Due: lint-py-fix, lint-py-check

Create `reactjs_component_from_*`, deprecate `export` and `module_from_*`. (#1307)
  docs/source/about/changelog.rst
  src/reactpy/web/__init__.py
  src/reactpy/web/module.py
  tests/test_web/test_module.py
Due: lint-py-fix, lint-py-check

Support dot-notation callbacks on events
  src/reactpy/__init__.py
  src/reactpy/core/events.py
  src/reactpy/core/layout.py
  tests/test_core/test_events.py
Due: lint-py-fix, lint-py-check

fix type hints
  src/reactpy/core/events.py
Due: lint-py-fix, lint-py-check

add changelog
  docs/source/about/changelog.rst
Due: none
