Repository reactive-python/reactpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint-py-fix
        name: Fix Python Lint
        entry: hatch run lint-py
        language: system
        args: [--fix]
        pass_filenames: false
        files: \.py$
  - repo: local
    hooks:
      - id: lint-js-fix
        name: Fix JS Lint
        entry: hatch run lint-js --fix
        language: system
        pass_filenames: false
        files: \.(js|jsx|ts|tsx)$
  - repo: local
    hooks:
      - id: lint-py-check
        name: Check Python Lint
        entry: hatch run lint-py
        language: system
        pass_filenames: false
        files: \.py$
  - repo: local
    hooks:
      - id: lint-js-check
        name: Check JS Lint
        entry: hatch run lint-py
        language: system
        pass_filenames: false
        files: \.(js|jsx|ts|tsx)$

Concurrent rendering naming fixes (#1211)
  docs/source/about/changelog.rst
  src/py/reactpy/reactpy/config.py
  src/py/reactpy/reactpy/core/layout.py
  src/py/reactpy/tests/test_core/test_layout.py
Due: lint-py-fix, lint-py-check

Move socket loop interval to a variable (#8)
  src/js/packages/@reactpy/client/src/reactpy-client.ts
Due: lint-js-fix, lint-js-check

Move use_connection to sit next to functions that use them
  src/py/reactpy/reactpy/core/hooks.py
Due: lint-py-fix, lint-py-check

Re-add 'reactpy.backend.hooks' with deprecation warnings
  src/py/reactpy/reactpy/backend/hooks.py
Due: lint-py-fix, lint-py-check

Add reactpy.backend.hooks deprecation in changelog, and fix mistakes
  docs/source/about/changelog.rst
Due: none

Add formatting to module names
  docs/source/about/changelog.rst
Due: none

mypy typing updates (#9)
  src/py/reactpy/reactpy/core/component.py
  src/py/reactpy/reactpy/core/hooks.py
Due: lint-py-fix, lint-py-check

add overload (#10)
  src/py/reactpy/reactpy/core/component.py
Due: lint-py-fix, lint-py-check

finally fix priority typing (#11)
  src/py/reactpy/reactpy/core/component.py
Due: lint-py-fix, lint-py-check

Fix formatting
  src/py/reactpy/reactpy/backend/flask.py
  src/py/reactpy/reactpy/backend/hooks.py
  src/py/reactpy/reactpy/backend/sanic.py
  src/py/reactpy/reactpy/backend/starlette.py
  src/py/reactpy/reactpy/backend/tornado.py
  src/py/reactpy/reactpy/core/hooks.py
Due: lint-py-fix, lint-py-check

Add nocov comments to backend.hooks
  src/py/reactpy/reactpy/backend/hooks.py
Due: lint-py-fix, lint-py-check

Fix deprecation warning messages
  src/py/reactpy/reactpy/backend/hooks.py
Due: lint-py-fix, lint-py-check

Bump to React 18
  src/js/packages/@reactpy/client/package.json
Due: none

Update package-lock.json
  src/js/package-lock.json
Due: none

Fixes needless custom component recreation (#1195)
  src/js/packages/@reactpy/client/src/components.tsx
  src/py/reactpy/reactpy/web/templates/react.js
Due: lint-js-fix, lint-js-check

Pin mypy to v1.8
  src/py/reactpy/pyproject.toml
Due: none

conditional pkg_resources
  src/py/reactpy/pyproject.toml
Due: none

Remove reactpy-flake8
  pyproject.toml
Due: none

Fix the CI
  .github/workflows/.hatch-run.yml
  pyproject.toml
  src/py/reactpy/pyproject.toml
Due: none

Remove pkg_resources dep
  src/py/reactpy/pyproject.toml
Due: none

Skip use_location tests on macos
  src/py/reactpy/tests/test_backend/test_all.py
Due: lint-py-fix, lint-py-check

Format
  src/py/reactpy/reactpy/_warnings.py
  src/py/reactpy/reactpy/core/events.py
  src/py/reactpy/reactpy/core/layout.py
  src/py/reactpy/reactpy/utils.py
  src/py/reactpy/tests/test_backend/test_all.py
  src/py/reactpy/tests/test_core/test_events.py
Due: lint-py-fix, lint-py-check

Re-add noqa
  src/py/reactpy/reactpy/_warnings.py
Due: lint-py-fix, lint-py-check

Revert
  pyproject.toml
  src/py/reactpy/pyproject.toml
Due: none

Fix the CI (#1233)
  .github/workflows/.hatch-run.yml
  pyproject.toml
  src/py/reactpy/pyproject.toml
  src/py/reactpy/reactpy/core/events.py
  src/py/reactpy/reactpy/core/layout.py
  src/py/reactpy/reactpy/utils.py
  src/py/reactpy/tests/test_backend/test_all.py
  src/py/reactpy/tests/test_core/test_events.py
Due: lint-py-fix, lint-py-check

Fix flakey `use_location` test
  src/py/reactpy/tests/test_backend/test_all.py
Due: lint-py-fix, lint-py-check

Fix formatting
  src/py/reactpy/tests/test_backend/test_all.py
Due: lint-py-fix, lint-py-check

Bump workflow versions
  .github/workflows/.hatch-run.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/publish.yml
Due: none

Fix flakey `use_location` test (#1234)
  .github/workflows/.hatch-run.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/publish.yml
  src/py/reactpy/tests/test_backend/test_all.py
Due: lint-py-fix, lint-py-check

Move `reactpy.backend.hooks` module into `reactpy.core.hooks` (#1210)
  docs/source/about/changelog.rst
  src/py/reactpy/reactpy/__init__.py
  src/py/reactpy/reactpy/backend/flask.py
  src/py/reactpy/reactpy/backend/hooks.py
  src/py/reactpy/reactpy/backend/sanic.py
  src/py/reactpy/reactpy/backend/starlette.py
  src/py/reactpy/reactpy/backend/tornado.py
  src/py/reactpy/reactpy/core/hooks.py
Due: lint-py-fix, lint-py-check

Add changelog
  docs/source/about/changelog.rst
Due: none

Fixes needless custom component recreation (#1195) (#1224)
  docs/source/about/changelog.rst
  src/js/packages/@reactpy/client/src/components.tsx
  src/py/reactpy/reactpy/web/templates/react.js
Due: lint-js-fix, lint-js-check

Format examples
  docs/examples/css/managing_state/conditional_form_component.css
  docs/examples/css/managing_state/multiple_form_components.css
  docs/examples/python/managing_state/all_possible_states.py
  docs/examples/python/managing_state/alt_stateful_picture_component.py
  docs/examples/python/managing_state/basic_form_component.py
  docs/examples/python/managing_state/conditional_form_component.py
  docs/examples/python/managing_state/multiple_form_components.py
  docs/examples/python/managing_state/necessary_states.py
  docs/examples/python/managing_state/picture_component.py
  docs/examples/python/managing_state/refactored_states.py
  docs/examples/python/managing_state/stateful_form_component.py
  docs/examples/python/managing_state/stateful_picture_component.py
Due: lint-py-fix, lint-py-check

format index.ts
  src/js/packages/event-to-object/src/index.ts
Due: lint-js-fix, lint-js-check

Added checked: element.checked to INPUT in elementConverters (#1126)
  docs/source/about/changelog.rst
  src/js/packages/event-to-object/src/index.ts
Due: lint-js-fix, lint-js-check

Re-add resolve
  src/py/reactpy/pyproject.toml
Due: none

Fix artifacts
  src/py/reactpy/pyproject.toml
Due: none

Remove useless installs
  tasks.py
Due: lint-py-fix, lint-py-check
