Repository reactive-python/reactpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

lint-py-fix:
  name: Fix Python Lint
  entry: hatch run lint-py
  language: system
  args:
  - --fix
  pass_filenames: false

lint-js-fix:
  name: Fix JS Lint
  entry: hatch run lint-js --fix
  language: system
  pass_filenames: false

lint-py-check:
  name: Check Python Lint
  entry: hatch run lint-py
  language: system
  pass_filenames: false

lint-js-check:
  name: Check JS Lint
  entry: hatch run lint-py
  language: system
  pass_filenames: false

fix black lint
  docs/source/guides/adding-interactivity/dangers-of-mutability/_examples/set_remove.py
  docs/source/guides/adding-interactivity/dangers-of-mutability/_examples/set_update.py
  pyproject.toml
  src/py/reactpy/reactpy/core/_life_cycle_hook.py
  src/py/reactpy/reactpy/core/events.py
  src/py/reactpy/reactpy/core/hooks.py
  src/py/reactpy/reactpy/core/types.py
  src/py/reactpy/reactpy/core/vdom.py
  src/py/reactpy/reactpy/web/module.py
  src/py/reactpy/reactpy/widgets.py
  src/py/reactpy/tests/test__console/test_rewrite_camel_case_props.py
  src/py/reactpy/tests/test__console/test_rewrite_keys.py
  src/py/reactpy/tests/test_core/test_layout.py
  tasks.py
Due: lint-py-fix, lint-py-check

fix black lint (#1193)
  docs/source/guides/adding-interactivity/dangers-of-mutability/_examples/set_remove.py
  docs/source/guides/adding-interactivity/dangers-of-mutability/_examples/set_update.py
  pyproject.toml
  src/py/reactpy/reactpy/core/_life_cycle_hook.py
  src/py/reactpy/reactpy/core/events.py
  src/py/reactpy/reactpy/core/hooks.py
  src/py/reactpy/reactpy/core/types.py
  src/py/reactpy/reactpy/core/vdom.py
  src/py/reactpy/reactpy/web/module.py
  src/py/reactpy/reactpy/widgets.py
  src/py/reactpy/tests/test__console/test_rewrite_camel_case_props.py
  src/py/reactpy/tests/test__console/test_rewrite_keys.py
  src/py/reactpy/tests/test_core/test_layout.py
  tasks.py
Due: lint-py-fix, lint-py-check

fix sdist
  src/py/reactpy/.gitignore
  src/py/reactpy/pyproject.toml
  src/py/reactpy/reactpy/backend/_common.py
  tasks.py
Due: lint-py-fix, lint-py-check

use bash shell
  .github/workflows/.hatch-run.yml
Due: none

use python to make script cross-platform
  js
  src/py/reactpy/pyproject.toml
Due: none

remove js symlink
  js
Due: none

fix comment
  src/py/reactpy/pyproject.toml
Due: none

remove shell bash
  .github/workflows/.hatch-run.yml
Due: none

echo dir contents
  src/py/reactpy/pyproject.toml
Due: none

echo on failing script line
  src/py/reactpy/pyproject.toml
Due: none

try resolve first
  src/py/reactpy/pyproject.toml
Due: none

no need to check existance
  src/py/reactpy/pyproject.toml
Due: none

more readable python script
  src/py/reactpy/pyproject.toml
Due: none

fix script
  src/py/reactpy/pyproject.toml
Due: none

no echo done
  src/py/reactpy/pyproject.toml
Due: none

preserve symlinks?
  src/js/app/vite.config.js
Due: lint-js-fix, lint-js-check

always delete symlink
  src/py/reactpy/pyproject.toml
Due: none

try unlinking again
  src/py/reactpy/pyproject.toml
Due: none

no resolve
  src/py/reactpy/pyproject.toml
Due: none

Fix component decorator eating static type hints
  src/py/reactpy/reactpy/core/component.py
Due: lint-py-fix, lint-py-check

Use `utf-8` for reading files
  src/py/reactpy/reactpy/_console/rewrite_camel_case_props.py
  src/py/reactpy/reactpy/_console/rewrite_keys.py
  src/py/reactpy/reactpy/web/module.py
  src/py/reactpy/reactpy/web/utils.py
Due: lint-py-fix, lint-py-check

Refactor
  src/py/reactpy/reactpy/core/component.py
Due: lint-py-fix, lint-py-check

Fix static type hints for component decorator (#2)
  src/py/reactpy/reactpy/core/component.py
Due: lint-py-fix, lint-py-check

Connection resume (#1)
  src/js/package-lock.json
  src/js/packages/@reactpy/client/src/components.tsx
  src/js/packages/@reactpy/client/src/messages.ts
  src/js/packages/@reactpy/client/src/reactpy-client.ts
  src/py/reactpy/pyproject.toml
  src/py/reactpy/reactpy/__init__.py
  src/py/reactpy/reactpy/backend/hooks.py
  src/py/reactpy/reactpy/backend/sanic.py
  src/py/reactpy/reactpy/core/_life_cycle_hook.py
  src/py/reactpy/reactpy/core/_thread_local.py
  src/py/reactpy/reactpy/core/component.py
  src/py/reactpy/reactpy/core/hooks.py
  src/py/reactpy/reactpy/core/layout.py
  src/py/reactpy/reactpy/core/serve.py
  src/py/reactpy/reactpy/core/state_recovery.py
  src/py/reactpy/reactpy/core/types.py
  src/py/reactpy/reactpy/testing/common.py
  src/py/reactpy/reactpy/utils.py
  src/py/reactpy/tests/test_core/test_layout.py
  src/py/reactpy/tests/tooling/hooks.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

Follow up work (#3)
  src/js/packages/@reactpy/client/src/components.tsx
  src/js/packages/@reactpy/client/src/reactpy-client.ts
  src/py/reactpy/reactpy/backend/sanic.py
  src/py/reactpy/reactpy/core/state_recovery.py
  src/py/reactpy/reactpy/core/vdom.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

add location to serialization (#4)
  src/py/reactpy/reactpy/core/state_recovery.py
Due: lint-py-fix, lint-py-check

Misc cleanup
  .github/pull_request_template.md
Due: none

Update PR template and VSCode workspace (#1053)
  .github/pull_request_template.md
  .vscode/extensions.json
  docs/source/about/changelog.rst
Due: none

reformat with black
  src/py/reactpy/reactpy/web/module.py
Due: lint-py-fix, lint-py-check

add changelog
  docs/source/about/changelog.rst
Due: none

Use `utf-8` for reading files (#1200)
  docs/source/about/changelog.rst
  src/py/reactpy/reactpy/_console/rewrite_camel_case_props.py
  src/py/reactpy/reactpy/_console/rewrite_keys.py
  src/py/reactpy/reactpy/web/module.py
  src/py/reactpy/reactpy/web/utils.py
Due: lint-py-fix, lint-py-check

Fix client not reloading on hash mismatch (#5)
  src/py/reactpy/reactpy/core/serve.py
Due: lint-py-fix, lint-py-check

Fix user mouse / scroll activity not actually triggering a reconnection (#6)
  src/js/packages/@reactpy/client/src/reactpy-client.ts
Due: lint-js-fix, lint-js-check

Remove `reactpy.backend.hooks` module
  src/py/reactpy/reactpy/__init__.py
  src/py/reactpy/reactpy/backend/flask.py
  src/py/reactpy/reactpy/backend/hooks.py
  src/py/reactpy/reactpy/backend/sanic.py
  src/py/reactpy/reactpy/backend/starlette.py
  src/py/reactpy/reactpy/backend/tornado.py
  src/py/reactpy/reactpy/core/hooks.py
Due: lint-py-fix, lint-py-check

Add 'reactpy.backend.hooks -> reactpy.core.hooks' move to changelog
  docs/source/about/changelog.rst
Due: none

fix state recovery error not propagating (#7)
  src/py/reactpy/reactpy/core/layout.py
  src/py/reactpy/reactpy/core/serve.py
Due: lint-py-fix, lint-py-check

Concurrent rendering naming fixes
  docs/source/about/changelog.rst
  src/py/reactpy/reactpy/config.py
  src/py/reactpy/reactpy/core/layout.py
  src/py/reactpy/tests/test_core/test_layout.py
Due: lint-py-fix, lint-py-check

update docstring
  src/py/reactpy/reactpy/core/layout.py
Due: lint-py-fix, lint-py-check

Clean up changelog verbiage
  docs/source/about/changelog.rst
Due: none

Path conditions:
  lint-py-fix: any of: \.py$
  lint-js-fix: any of: \.(js|jsx|ts|tsx)$
  lint-py-check: any of: \.py$
  lint-js-check: any of: \.(js|jsx|ts|tsx)$
