Repository reactive-python/reactpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint-py-fix
        name: Fix Python Lint
        entry: hatch run lint-py
        language: system
        args: [--fix]
        pass_filenames: false
        files: \.py$
  - repo: local
    hooks:
      - id: lint-js-fix
        name: Fix JS Lint
        entry: hatch run lint-js --fix
        language: system
        pass_filenames: false
        files: \.(js|jsx|ts|tsx)$
  - repo: local
    hooks:
      - id: lint-py-check
        name: Check Python Lint
        entry: hatch run lint-py
        language: system
        pass_filenames: false
        files: \.py$
  - repo: local
    hooks:
      - id: lint-js-check
        name: Check JS Lint
        entry: hatch run lint-py
        language: system
        pass_filenames: false
        files: \.(js|jsx|ts|tsx)$

Remove duplicate keys from HtmlConstructor
  src/reactpy/_html.py
Due: lint-py-fix, lint-py-check

add changelog
  docs/source/about/changelog.rst
Due: none

fix #1229
  docs/source/guides/getting-started/_examples/run_starlette.py
Due: lint-py-fix, lint-py-check

Remove all underscored python source files from autodocs
  docs/source/_exts/autogen_api_docs.py
  src/reactpy/_html.py
Due: lint-py-fix, lint-py-check

Auto-generate `reactpy.html.*` elements (#1255)
  docs/source/_exts/autogen_api_docs.py
  docs/source/about/changelog.rst
  docs/source/guides/getting-started/_examples/run_starlette.py
  src/reactpy/__init__.py
  src/reactpy/_html.py
  src/reactpy/backend/_common.py
  src/reactpy/html.py
  src/reactpy/svg.py
  src/reactpy/widgets.py
  tests/sample.py
  tests/test_backend/test_common.py
  tests/test_backend/test_utils.py
  tests/test_client.py
  tests/test_console/test_rewrite_keys.py
  tests/test_core/test_hooks.py
  tests/test_core/test_layout.py
  tests/test_html.py
  tests/test_sample.py
  tests/test_testing.py
  tests/test_utils.py
Due: lint-py-fix, lint-py-check

Change `set_state` comparison method
  src/reactpy/core/hooks.py
  tests/test_core/test_hooks.py
Due: lint-py-fix, lint-py-check

mypy sucks big time
  src/reactpy/core/hooks.py
Due: lint-py-fix, lint-py-check

Compare the source code of lambda and local functions
  src/reactpy/core/hooks.py
  tests/test_core/test_hooks.py
Due: lint-py-fix, lint-py-check

Add changelog
  docs/source/about/changelog.rst
Due: none

Fix missing dates on the changelog
  docs/source/about/changelog.rst
Due: none

Fix hotswap test
  tests/test_testing.py
Due: lint-py-fix, lint-py-check

Change `set_state` comparison method (#1256)
  docs/source/about/changelog.rst
  src/reactpy/core/hooks.py
  tests/test_core/test_hooks.py
  tests/test_testing.py
Due: lint-py-fix, lint-py-check

Add support for `ComponentType` children in `vdom_to_html`
  src/reactpy/utils.py
  tests/test_utils.py
Due: lint-py-fix, lint-py-check

minor refactoring
  src/reactpy/utils.py
  tests/test_utils.py
Due: lint-py-fix, lint-py-check

Reduce LOC changes
  src/reactpy/utils.py
Due: lint-py-fix, lint-py-check

More accurate types on _component_to_vdom
  src/reactpy/utils.py
Due: lint-py-fix, lint-py-check

Fix python 3.9 support
  src/reactpy/utils.py
Due: lint-py-fix, lint-py-check

Add support for `ComponentType` children in `vdom_to_html` (#1257)
  docs/source/about/changelog.rst
  src/reactpy/utils.py
  tests/test_utils.py
Due: lint-py-fix, lint-py-check

refactoring in preparation for functional middleware
  src/js/packages/@reactpy/client/src/client.ts
  src/js/packages/@reactpy/client/src/mount.tsx
  src/js/packages/@reactpy/client/src/types.ts
  src/reactpy/backend/middleware.py
  src/reactpy/backend/standalone.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

Force user to add slashes to tail and head of `path_prefix`, and create `ReactPyApp`
  src/js/packages/@reactpy/client/src/mount.tsx
  src/reactpy/backend/middleware.py
  src/reactpy/backend/standalone.py
  src/reactpy/backend/utils.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

more refactoring to standalone mode
  src/reactpy/backend/standalone.py
  src/reactpy/backend/utils.py
Due: lint-py-fix, lint-py-check

functional template tag
  src/reactpy/backend/utils.py
  src/reactpy/templatetag/__init__.py
  src/reactpy/templatetag/jinja.py
Due: lint-py-fix, lint-py-check

Rename location.search to location.query_string
  src/reactpy/backend/middleware.py
  src/reactpy/backend/types.py
  tests/test_backend/test_all.py
Due: lint-py-fix, lint-py-check

Add jinja to deps
  pyproject.toml
Due: none

Move some project files around
  middleware.py
  pyproject.toml
  src/reactpy/__init__.py
  src/reactpy/asgi/__init__.py
  src/reactpy/asgi/middleware.py
  src/reactpy/asgi/standalone.py
  src/reactpy/asgi/utils.py
  src/reactpy/backend/__init__.py
  src/reactpy/backend/types.py
  src/reactpy/core/hooks.py
  src/reactpy/core/types.py
  src/reactpy/jinja.py
  src/reactpy/testing/backend.py
  src/reactpy/types.py
  standalone.py
  templates/index.html
  tests/test_backend/test_all.py
  tests/test_backend/test_common.py
  tests/test_backend/test_utils.py
  tests/test_client.py
  tests/test_testing.py
  tests/test_web/test_module.py
Due: lint-py-fix, lint-py-check

Remove `module_from_template`
  src/reactpy/future.py
  src/reactpy/types.py
  src/reactpy/web/__init__.py
  src/reactpy/web/module.py
Due: lint-py-fix, lint-py-check

Remove unused import
  src/reactpy/asgi/utils.py
  src/reactpy/testing/__init__.py
Due: lint-py-fix, lint-py-check

Expose new APIs
  src/reactpy/__init__.py
Due: lint-py-fix, lint-py-check

add changelog
  .gitignore
  docs/source/about/changelog.rst
Due: none

Remove accidentally commited test files
  middleware.py
  standalone.py
  templates/index.html
Due: lint-py-fix, lint-py-check

Implement ReactPyConfig(TypedDict)
  docs/source/about/changelog.rst
  pyproject.toml
  src/reactpy/asgi/middleware.py
  src/reactpy/asgi/standalone.py
  src/reactpy/asgi/utils.py
  src/reactpy/config.py
  src/reactpy/core/hooks.py
  src/reactpy/core/layout.py
  src/reactpy/core/serve.py
  src/reactpy/core/types.py
  src/reactpy/core/vdom.py
  src/reactpy/jinja.py
  src/reactpy/logging.py
  src/reactpy/testing/backend.py
  src/reactpy/testing/common.py
  src/reactpy/testing/display.py
  src/reactpy/types.py
  src/reactpy/web/module.py
  tests/conftest.py
  tests/test_config.py
  tests/test_core/test_hooks.py
  tests/test_core/test_layout.py
  tests/test_core/test_vdom.py
  tests/tooling/aio.py
Due: lint-py-fix, lint-py-check

Rename pathname to path
  docs/source/about/changelog.rst
  src/reactpy/asgi/middleware.py
  src/reactpy/core/types.py
  tests/test_backend/test_all.py
Due: lint-py-fix, lint-py-check

Fix typo
  docs/source/about/changelog.rst
Due: none

Add missing gitignore
  .gitignore
Due: none

Revert changes to copy_dir.py
  pyproject.toml
  src/build_scripts/copy_dir.py
Due: lint-py-fix, lint-py-check

remove useless parameter in client
  src/js/packages/@reactpy/client/src/mount.tsx
  src/js/packages/@reactpy/client/src/types.ts
Due: lint-js-fix, lint-js-check

Remove reactpy.core.types
  docs/docs_app/app.py
  src/reactpy/_html.py
  src/reactpy/core/_life_cycle_hook.py
  src/reactpy/core/component.py
  src/reactpy/core/events.py
  src/reactpy/core/hooks.py
  src/reactpy/core/layout.py
  src/reactpy/core/serve.py
  src/reactpy/core/types.py
  src/reactpy/core/vdom.py
  src/reactpy/testing/backend.py
  src/reactpy/types.py
  src/reactpy/utils.py
  src/reactpy/web/module.py
  src/reactpy/widgets.py
  tests/sample.py
  tests/test_core/test_layout.py
  tests/test_core/test_serve.py
  tests/test_core/test_vdom.py
  tests/tooling/common.py
  tests/tooling/layout.py
  tests/tooling/select.py
Due: lint-py-fix, lint-py-check

self review
  docs/source/about/changelog.rst
  src/reactpy/jinja.py
  src/reactpy/types.py
  tests/test_backend/test_common.py
Due: lint-py-fix, lint-py-check

Add missing docstrings
  src/reactpy/asgi/middleware.py
  src/reactpy/asgi/standalone.py
Due: lint-py-fix, lint-py-check
