Repository reactive-python/reactpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

lint-py-fix:
  name: Fix Python Lint
  entry: hatch run lint-py
  language: system
  args:
  - --fix
  pass_filenames: false

lint-js-fix:
  name: Fix JS Lint
  entry: hatch run lint-js --fix
  language: system
  pass_filenames: false

lint-py-check:
  name: Check Python Lint
  entry: hatch run lint-py
  language: system
  pass_filenames: false

lint-js-check:
  name: Check JS Lint
  entry: hatch run lint-py
  language: system
  pass_filenames: false

render_reactpy_template func
  src/reactpy/asgi/standalone.py
  src/reactpy/asgi/utils.py
  src/reactpy/jinja.py
  src/reactpy/templates/index.html
  src/reactpy/utils.py
Due: lint-py-fix, lint-py-check

if-modified-since matching
  src/reactpy/asgi/standalone.py
Due: lint-py-fix, lint-py-check

rename to render_mount_template
  src/reactpy/asgi/standalone.py
  src/reactpy/jinja.py
  src/reactpy/utils.py
Due: lint-py-fix, lint-py-check

Remove fluff from ReactPyTemplateTag
  src/reactpy/jinja.py
Due: lint-py-fix, lint-py-check

Remove obsolete attributes from ReactPyApp
  src/reactpy/asgi/standalone.py
Due: lint-py-fix, lint-py-check

Simplier send func for ComponentDispatchApp
  src/reactpy/asgi/middleware.py
Due: lint-py-fix, lint-py-check

Bump to 2.0.0a0
  src/reactpy/__init__.py
Due: lint-py-fix, lint-py-check

fix query string parsing
  src/reactpy/asgi/middleware.py
Due: lint-py-fix, lint-py-check

Fix backend fixture
  src/reactpy/testing/backend.py
  src/reactpy/testing/display.py
  src/reactpy/testing/utils.py
Due: lint-py-fix, lint-py-check

test_standalone
  tests/test_asgi/__init__.py
  tests/test_asgi/test_standalone.py
  tests/test_backend/test_common.py
  tests/test_backend/test_utils.py
Due: lint-py-fix, lint-py-check

fix old tests
  pyproject.toml
  src/js/packages/@reactpy/client/src/client.ts
  src/reactpy/asgi/standalone.py
  tests/conftest.py
  tests/test_client.py
  tests/test_html.py
  tests/test_testing.py
  tests/test_web/test_module.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

fix hatch fmt error
  src/reactpy/asgi/standalone.py
Due: lint-py-fix, lint-py-check

Fix type hints
  src/js/packages/@reactpy/client/src/mount.tsx
  src/reactpy/asgi/middleware.py
  src/reactpy/asgi/standalone.py
  src/reactpy/asgi/utils.py
  src/reactpy/core/hooks.py
  src/reactpy/jinja.py
  src/reactpy/testing/backend.py
  src/reactpy/types.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

remove pip upgrade from workflow
  .github/workflows/.hatch-run.yml
Due: none

Fix test issues
  src/reactpy/testing/backend.py
  tests/tooling/common.py
Due: lint-py-fix, lint-py-check

Remove usage of deprecated co_lnotab
  src/reactpy/core/hooks.py
Due: lint-py-fix, lint-py-check

fix test_automatic_reconnect test
  src/reactpy/testing/backend.py
  tests/test_client.py
Due: lint-py-fix, lint-py-check

fix type error
  src/reactpy/testing/backend.py
  tests/test_client.py
Due: lint-py-fix, lint-py-check

Fix flakey test_script_re_run_on_content_change
  tests/test_html.py
  tests/tooling/hooks.py
Due: lint-py-fix, lint-py-check

Fix a few coverage hits
  pyproject.toml
  src/reactpy/asgi/middleware.py
  src/reactpy/asgi/standalone.py
  src/reactpy/asgi/utils.py
  src/reactpy/core/hooks.py
  src/reactpy/testing/utils.py
  tests/test_asgi/test_standalone.py
  tests/test_html.py
Due: lint-py-fix, lint-py-check

tests for middleware
  src/reactpy/asgi/middleware.py
  src/reactpy/asgi/utils.py
  src/reactpy/testing/backend.py
  tests/templates/index.html
  tests/test_asgi/test_middleware.py
  tests/test_asgi/test_standalone.py
Due: lint-py-fix, lint-py-check

100% test coverage
  docs/Dockerfile
  pyproject.toml
  src/reactpy/asgi/utils.py
  src/reactpy/core/hooks.py
  src/reactpy/core/serve.py
  src/reactpy/testing/backend.py
  src/reactpy/testing/display.py
  tests/conftest.py
  tests/test_asgi/test_middleware.py
  tests/test_asgi/test_utils.py
  tests/test_client.py
  tests/test_config.py
  tests/test_web/test_utils.py
Due: lint-py-fix, lint-py-check

Remove Python 3.9 support
  .github/workflows/check.yml
  docs/source/about/changelog.rst
  pyproject.toml
  src/reactpy/testing/backend.py
Due: lint-py-fix, lint-py-check

Add wait method to test_unregistered_root_component
  tests/test_asgi/test_middleware.py
Due: lint-py-fix, lint-py-check

reverse sleep position
  tests/test_asgi/test_middleware.py
Due: lint-py-fix, lint-py-check

longer server shutdown timeout
  src/reactpy/testing/backend.py
Due: lint-py-fix, lint-py-check

self review
  docs/source/about/changelog.rst
  docs/source/guides/escape-hatches/distributing-javascript.rst
  docs/source/guides/getting-started/running-reactpy.rst
  pyproject.toml
  src/js/packages/@reactpy/client/src/index.ts
  src/reactpy/jinja.py
  tests/test_asgi/test_middleware.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

temporarily disable docs tests
  .github/workflows/check.yml
Due: none

Even higher shutdown timeout - GH sometimes lags really badly
  src/reactpy/testing/backend.py
Due: lint-py-fix, lint-py-check

Allow CI to run on all PRs
  .github/workflows/check.yml
Due: none

refactor GITHUB_ACTIONS variable
  src/reactpy/testing/backend.py
  src/reactpy/testing/common.py
  tests/conftest.py
  tests/tooling/common.py
Due: lint-py-fix, lint-py-check

disable snake_case to camelCase
  src/js/packages/@reactpy/client/src/vdom.tsx
Due: lint-js-fix, lint-js-check

Attempt new rewrite script
  pyproject.toml
  src/reactpy/__main__.py
  src/reactpy/_console/rewrite_props.py
  tests/test_console/test_rewrite_camel_case_props.py
Due: lint-py-fix, lint-py-check

Add comments
  src/reactpy/_console/rewrite_props.py
  src/reactpy/widgets.py
Due: lint-py-fix, lint-py-check

Fix conv_attr_name
  src/reactpy/_console/rewrite_props.py
  tests/test_console/test_rewrite_props.py
Due: lint-py-fix, lint-py-check

Fix tests
  tests/test_asgi/test_standalone.py
  tests/test_client.py
  tests/test_console/test_rewrite_props.py
  tests/test_core/test_events.py
  tests/test_core/test_hooks.py
  tests/test_core/test_layout.py
  tests/test_core/test_serve.py
  tests/test_core/test_vdom.py
  tests/test_html.py
  tests/test_testing.py
  tests/test_utils.py
Due: lint-py-fix, lint-py-check

Add `reactpy rewrite-props <PATHS>` CLI
  pyproject.toml
  src/reactpy/__main__.py
  src/reactpy/_console/cli.py
  src/reactpy/_console/rewrite_props.py
Due: lint-py-fix, lint-py-check

Bump client version
  src/js/packages/@reactpy/client/package.json
Due: none

Add changelog
  docs/source/about/changelog.rst
Due: none

Path conditions:
  lint-py-fix: any of: \.py$
  lint-js-fix: any of: \.(js|jsx|ts|tsx)$
  lint-py-check: any of: \.py$
  lint-js-check: any of: \.(js|jsx|ts|tsx)$
