Repository reactive-python/reactpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

lint-py-fix:
  name: Fix Python Lint
  entry: hatch run lint-py
  language: system
  args:
  - --fix
  pass_filenames: false

lint-js-fix:
  name: Fix JS Lint
  entry: hatch run lint-js --fix
  language: system
  pass_filenames: false

lint-py-check:
  name: Check Python Lint
  entry: hatch run lint-py
  language: system
  pass_filenames: false

lint-js-check:
  name: Check JS Lint
  entry: hatch run lint-py
  language: system
  pass_filenames: false

add tools and packages section, remove outdated references, and fix Jinja template link
  docs/examples/tutorial_tic_tac_toe/tic_tac_toe.py
  docs/mkdocs.yml
  docs/overrides/homepage_examples/add_interactivity.py
  docs/src/learn/add-react-to-an-existing-project.md
  docs/src/learn/creating-a-react-app.md
  docs/src/learn/editor-setup.md
  docs/src/learn/extra-tools-and-packages.md
  docs/src/learn/tools-and-packages.md
  docs/src/reference/jinja.md
Due: lint-py-fix, lint-py-check

refine tutorial instructions and update language for clarity
  docs/overrides/home.html
  docs/src/learn/tutorial-tic-tac-toe.md
Due: none

change examples folder
  docs/examples/managing_state/all_possible_states.py
  docs/examples/managing_state/alt_stateful_picture_component.py
  docs/examples/managing_state/basic_form_component.py
  docs/examples/managing_state/conditional_form_component.css
  docs/examples/managing_state/conditional_form_component.py
  docs/examples/managing_state/multiple_form_components.css
  docs/examples/managing_state/multiple_form_components.py
  docs/examples/managing_state/necessary_states.py
  docs/examples/managing_state/picture_component.css
  docs/examples/managing_state/picture_component.py
  docs/examples/managing_state/refactored_states.py
  docs/examples/managing_state/stateful_form_component.py
  docs/examples/managing_state/stateful_picture_component.py
Due: lint-py-fix, lint-py-check

Fix everthing besides the challenges
  docs/examples/managing_state/alt_stateful_picture_component.py
  docs/examples/managing_state/basic_form_component.py
  docs/examples/managing_state/conditional_form_component.py
  docs/examples/managing_state/multiple_form_components.py
  docs/examples/managing_state/picture_component.py
  docs/examples/managing_state/stateful_form_component.py
  docs/examples/managing_state/stateful_picture_component.py
  docs/mkdocs.yml
  docs/src/assets/css/code.css
  docs/src/learn/reacting-to-input-with-state.md
Due: lint-py-fix, lint-py-check

Adds support for web module subcomponent notation
  src/js/packages/@reactpy/client/src/vdom.tsx
  src/reactpy/web/module.py
  tests/test_web/js_fixtures/subcomponent-notation.js
  tests/test_web/test_module.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

Adds object-based subcomponent accessor and tests
  src/reactpy/core/vdom.py
  tests/test_web/js_fixtures/subcomponent-notation.js
  tests/test_web/test_module.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

Fixes linter/formatting errors
  src/reactpy/web/module.py
  tests/test_web/test_module.py
Due: lint-py-fix, lint-py-check

Remove whitespace
  src/reactpy/core/vdom.py
Due: lint-py-fix, lint-py-check

More formatting fixes
  src/js/packages/@reactpy/client/src/vdom.tsx
  src/reactpy/core/vdom.py
  src/reactpy/web/module.py
  tests/test_core/test_vdom.py
  tests/test_utils.py
  tests/test_web/test_module.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

Another linter fix
  src/js/packages/@reactpy/client/src/vdom.tsx
Due: lint-js-fix, lint-js-check

Addresses feedback by @Archmonger
  docs/source/about/changelog.rst
  src/js/packages/@reactpy/client/src/vdom.tsx
  src/reactpy/core/vdom.py
  tests/test_core/test_vdom.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

Fixes typo
  src/reactpy/core/vdom.py
Due: lint-py-fix, lint-py-check

Swap unpkg for esm to fix failing tests
  docs/source/guides/escape-hatches/_examples/super_simple_chart/super-simple-chart.js
  tests/test_web/js_fixtures/component-can-have-child.js
  tests/test_web/js_fixtures/exports-two-components.js
  tests/test_web/js_fixtures/simple-button.js
Due: lint-js-fix, lint-js-check

Revert last commit - restore unpkg
  docs/source/guides/escape-hatches/_examples/super_simple_chart/super-simple-chart.js
  tests/test_web/js_fixtures/component-can-have-child.js
  tests/test_web/js_fixtures/exports-two-components.js
  tests/test_web/js_fixtures/simple-button.js
Due: lint-js-fix, lint-js-check

Tweak test to wait for attached, not visible
  tests/test_web/test_module.py
Due: lint-py-fix, lint-py-check

Fixes failing tests
  tests/test_web/test_module.py
Due: lint-py-fix, lint-py-check

Temporarily disable JS tests
  .github/workflows/check.yml
Due: none

Support subcomponent notation in `export` (#1285)
  .github/workflows/check.yml
  docs/source/about/changelog.rst
  src/js/packages/@reactpy/client/src/vdom.tsx
  src/reactpy/core/vdom.py
  src/reactpy/web/module.py
  tests/test_core/test_vdom.py
  tests/test_utils.py
  tests/test_web/js_fixtures/subcomponent-notation.js
  tests/test_web/test_module.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

Update vdom.py
  src/reactpy/core/vdom.py
Due: lint-py-fix, lint-py-check

Update layout.py
  src/reactpy/core/layout.py
Due: lint-py-fix, lint-py-check

Update vdom.tsx
  src/js/packages/@reactpy/client/src/vdom.tsx
Due: lint-js-fix, lint-js-check

Update react.js
  src/reactpy/web/templates/react.js
Due: lint-js-fix, lint-js-check

Add missing parenthesis
  src/js/packages/@reactpy/client/src/vdom.tsx
Due: lint-js-fix, lint-js-check

Adds test
  tests/test_core/test_events.py
Due: lint-py-fix, lint-py-check

Update types.py
  src/reactpy/types.py
Due: lint-py-fix, lint-py-check

Update types
  src/reactpy/core/layout.py
  src/reactpy/core/vdom.py
Due: lint-py-fix, lint-py-check

Add one more test
  tests/test_core/test_events.py
Due: lint-py-fix, lint-py-check

Implement JavaScript type and handle eval
  src/js/packages/@reactpy/client/src/vdom.tsx
  src/reactpy/core/layout.py
  src/reactpy/core/vdom.py
  src/reactpy/types.py
  src/reactpy/web/templates/react.js
  tests/test_core/test_events.py
  tests/test_web/js_fixtures/ag-grid-react.js
  tests/test_web/test_module.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

Fix broken test
  tests/test_core/test_events.py
Due: lint-py-fix, lint-py-check

Replaces test for callable non-event prop
  tests/test_web/js_fixtures/ag-grid-react.js
  tests/test_web/js_fixtures/callable-prop.js
  tests/test_web/test_module.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

New branch off of #1289 to highlight vdom approach
  src/js/packages/@reactpy/client/src/types.ts
  src/js/packages/@reactpy/client/src/vdom.tsx
  src/reactpy/core/layout.py
  src/reactpy/core/vdom.py
  src/reactpy/types.py
  src/reactpy/web/templates/react.js
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

Remove now-needless JavaScript distinction logic
  src/reactpy/core/layout.py
Due: lint-py-fix, lint-py-check

Remove irrelevant comment
  tests/test_web/js_fixtures/callable-prop.js
Due: lint-js-fix, lint-js-check

Adds test for string_to_reactpy
  src/reactpy/core/vdom.py
  src/reactpy/types.py
  tests/test_utils.py
Due: lint-py-fix, lint-py-check

Apply hatch fmt
  src/reactpy/types.py
  tests/test_utils.py
Due: lint-py-fix, lint-py-check

Update src/reactpy/types.py
  src/reactpy/types.py
Due: lint-py-fix, lint-py-check

Rename "jsExecutables" to "inlineJavascript"
  docs/source/about/changelog.rst
  src/js/packages/@reactpy/client/src/types.ts
  src/js/packages/@reactpy/client/src/vdom.tsx
  src/reactpy/core/layout.py
  src/reactpy/core/vdom.py
  src/reactpy/transforms.py
  src/reactpy/types.py
  src/reactpy/utils.py
  tests/test_utils.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

Apply formatting
  src/js/packages/@reactpy/client/src/vdom.tsx
  src/reactpy/core/vdom.py
  src/reactpy/transforms.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

Path conditions:
  lint-py-fix: any of: \.py$
  lint-js-fix: any of: \.(js|jsx|ts|tsx)$
  lint-py-check: any of: \.py$
  lint-js-check: any of: \.(js|jsx|ts|tsx)$
