Repository reactive-python/reactpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

lint-py-fix:
  name: Fix Python Lint
  entry: hatch run lint-py
  language: system
  args:
  - --fix
  pass_filenames: false

lint-js-fix:
  name: Fix JS Lint
  entry: hatch run lint-js --fix
  language: system
  pass_filenames: false

lint-py-check:
  name: Check Python Lint
  entry: hatch run lint-py
  language: system
  pass_filenames: false

lint-js-check:
  name: Check JS Lint
  entry: hatch run lint-py
  language: system
  pass_filenames: false

Give NPM id-token write capability (#1330)
  .github/workflows/publish.yml
  docs/source/about/changelog.rst
Due: none

Fix broken NPM distributables
  .gitignore
  pyproject.toml
  src/build_scripts/build_js_client.py
  src/build_scripts/build_js_event_to_object.py
  src/build_scripts/clean_js_dir.py
  src/js/packages/@reactpy/app/tsconfig.json
  src/js/packages/@reactpy/client/package.json
  src/js/packages/@reactpy/client/tsconfig.json
  src/js/packages/event-to-object/package.json
  src/js/packages/event-to-object/tsconfig.json
  src/js/tsconfig.json
Due: lint-py-fix, lint-py-check

Bump versions
  pyproject.toml
  src/js/packages/@reactpy/client/package.json
  src/js/packages/event-to-object/package.json
Due: none

add global flaky marker for github CI
  tests/__init__.py
  tests/test_asgi/test_middleware.py
  tests/test_asgi/test_pyscript.py
  tests/test_asgi/test_standalone.py
  tests/test_reactjs/test_modules_from_npm.py
  tests/test_widgets.py
Due: lint-py-fix, lint-py-check

Fix broken NPM distributables (#1331)
  .gitignore
  pyproject.toml
  src/build_scripts/build_js_client.py
  src/build_scripts/build_js_event_to_object.py
  src/build_scripts/clean_js_dir.py
  src/js/packages/@reactpy/app/tsconfig.json
  src/js/packages/@reactpy/client/package.json
  src/js/packages/@reactpy/client/tsconfig.json
  src/js/packages/event-to-object/package.json
  src/js/packages/event-to-object/tsconfig.json
  src/js/tsconfig.json
  tests/__init__.py
  tests/test_asgi/test_middleware.py
  tests/test_asgi/test_pyscript.py
  tests/test_asgi/test_standalone.py
  tests/test_reactjs/test_modules_from_npm.py
  tests/test_widgets.py
Due: lint-py-fix, lint-py-check

v2.0.0b9
  CHANGELOG.md
  docs/source/about/changelog.rst
  src/js/bun.lockb
  src/js/package.json
  src/reactpy/__init__.py
Due: lint-py-fix, lint-py-check

v2.0.0b9 (#1332)
  CHANGELOG.md
  docs/source/about/changelog.rst
  src/js/bun.lockb
  src/js/package.json
  src/reactpy/__init__.py
Due: lint-py-fix, lint-py-check

Reduce GitHub CI flakiness
  tests/conftest.py
  tests/test_client.py
  tests/test_core/test_component.py
  tests/test_core/test_events.py
  tests/test_core/test_hooks.py
  tests/test_html.py
  tests/test_pyscript/test_components.py
  tests/test_reactjs/test_modules.py
  tests/test_sample.py
  tests/test_testing.py
  tests/test_web/test_module.py
Due: lint-py-fix, lint-py-check

Prevent falsey user inputs from breaking string_to_reactpy
  src/reactpy/utils.py
Due: lint-py-fix, lint-py-check

Add tests
  src/js/bun.lockb
  src/reactpy/__init__.py
  src/reactpy/utils.py
  tests/test_utils.py
Due: lint-py-fix, lint-py-check

Bump version string
  src/reactpy/__init__.py
Due: lint-py-fix, lint-py-check

return type correctness
  src/reactpy/utils.py
  tests/test_utils.py
Due: lint-py-fix, lint-py-check

v2.0.0b10 (#1336)
  src/js/bun.lockb
  src/reactpy/__init__.py
  src/reactpy/utils.py
  tests/conftest.py
  tests/test_client.py
  tests/test_core/test_component.py
  tests/test_core/test_events.py
  tests/test_core/test_hooks.py
  tests/test_html.py
  tests/test_pyscript/test_components.py
  tests/test_reactjs/test_modules.py
  tests/test_sample.py
  tests/test_testing.py
  tests/test_utils.py
  tests/test_web/test_module.py
Due: lint-py-fix, lint-py-check

Support partial as EventHandlerFunction
  src/reactpy/core/events.py
Due: lint-py-fix, lint-py-check

Add unit test + changelog
  CHANGELOG.md
  tests/test_core/test_events.py
Due: lint-py-fix, lint-py-check

Support partial as EventHandlerFunction (#1337)
  CHANGELOG.md
  src/reactpy/core/events.py
  tests/test_core/test_events.py
Due: lint-py-fix, lint-py-check

Add event queue, fix #1320
  CHANGELOG.md
  src/reactpy/core/layout.py
  tests/test_core/test_events.py
  tests/test_core/test_layout.py
Due: lint-py-fix, lint-py-check

Change preact binding error msg to debug
  src/js/packages/@reactpy/client/src/bind.tsx
Due: lint-js-fix, lint-js-check

Add client-side message queue
  src/js/packages/@reactpy/client/src/client.ts
Due: lint-js-fix, lint-js-check

Fix warnings from new tests
  tests/test_core/test_events.py
Due: lint-py-fix, lint-py-check

Fix coverage
  tests/test_core/test_layout.py
Due: lint-py-fix, lint-py-check

Windows GitHub workers are way too flaky due to lag
  .github/workflows/check.yml
  tests/__init__.py
  tests/conftest.py
  tests/test_asgi/test_middleware.py
  tests/test_asgi/test_pyscript.py
  tests/test_asgi/test_standalone.py
  tests/test_client.py
  tests/test_core/test_component.py
  tests/test_core/test_events.py
  tests/test_core/test_hooks.py
  tests/test_html.py
  tests/test_pyscript/test_components.py
  tests/test_reactjs/test_modules.py
  tests/test_reactjs/test_modules_from_npm.py
  tests/test_sample.py
  tests/test_testing.py
  tests/test_web/test_module.py
  tests/test_widgets.py
Due: lint-py-fix, lint-py-check

Quick attempt at some fixing async dependencies
  src/reactpy/core/hooks.py
  tests/test_core/test_hooks.py
Due: lint-py-fix, lint-py-check

Add event queue (#1338)
  .github/workflows/check.yml
  CHANGELOG.md
  src/js/packages/@reactpy/client/src/bind.tsx
  src/js/packages/@reactpy/client/src/client.ts
  src/reactpy/core/hooks.py
  src/reactpy/core/layout.py
  tests/__init__.py
  tests/conftest.py
  tests/test_asgi/test_middleware.py
  tests/test_asgi/test_pyscript.py
  tests/test_asgi/test_standalone.py
  tests/test_client.py
  tests/test_core/test_component.py
  tests/test_core/test_events.py
  tests/test_core/test_hooks.py
  tests/test_core/test_layout.py
  tests/test_html.py
  tests/test_pyscript/test_components.py
  tests/test_reactjs/test_modules.py
  tests/test_reactjs/test_modules_from_npm.py
  tests/test_sample.py
  tests/test_testing.py
  tests/test_web/test_module.py
  tests/test_widgets.py
Due: lint-py-fix, lint-js-fix, lint-py-check, lint-js-check

`reactpy` v2.0.0b11 and `@reactpy/client` v1.1.0
  src/js/packages/@reactpy/client/package.json
Due: none

`reactpy` v2.0.0b11 and `@reactpy/client` v1.1.0 (#1339)
  src/js/packages/@reactpy/client/package.json
Due: none

Add `use_async_effect` shielding option
  src/reactpy/core/hooks.py
Due: lint-py-fix, lint-py-check

Fix edge case were `strictly_equal` could throw an exception
  src/reactpy/core/hooks.py
Due: lint-py-fix, lint-py-check

Add max queue size setting
  src/reactpy/config.py
  src/reactpy/core/layout.py
  src/reactpy/executors/asgi/middleware.py
  tests/test_core/test_serve.py
Due: lint-py-fix, lint-py-check

Move `GITHUB_ACTIONS` out of testing module
  src/reactpy/testing/common.py
  src/reactpy/utils.py
Due: lint-py-fix, lint-py-check

Make pyscript utils more extensible
  src/reactpy/executors/pyscript/utils.py
  tests/test_core/test_hooks.py
Due: lint-py-fix, lint-py-check

Add missing changelog entry
  CHANGELOG.md
Due: none

fix CI errors
  src/reactpy/core/hooks.py
  src/reactpy/executors/pyscript/utils.py
  src/reactpy/testing/__init__.py
  src/reactpy/testing/common.py
  tests/test_client.py
  tests/test_core/test_events.py
  tests/test_core/test_hooks.py
  tests/test_html.py
  tests/test_widgets.py
  tests/tooling/common.py
Due: lint-py-fix, lint-py-check

Pyscript now supports ContextVars!
  src/reactpy/core/_life_cycle_hook.py
Due: lint-py-fix, lint-py-check

Revert "Move `GITHUB_ACTIONS` out of testing module"
  src/reactpy/executors/pyscript/utils.py
  src/reactpy/testing/backend.py
  src/reactpy/testing/common.py
  src/reactpy/testing/display.py
  src/reactpy/testing/logs.py
  src/reactpy/utils.py
Due: lint-py-fix, lint-py-check

Always append URL and QS to base websocket
  src/js/packages/@reactpy/client/src/websocket.ts
Due: lint-js-fix, lint-js-check

bump version number
  src/reactpy/__init__.py
Due: lint-py-fix, lint-py-check

fix test failures
  src/reactpy/executors/pyscript/utils.py
  tests/test_asgi/test_standalone.py
Due: lint-py-fix, lint-py-check

Add changelog
  CHANGELOG.md
Due: none

Bump client version
  src/js/packages/@reactpy/client/package.json
Due: none

Path conditions:
  lint-py-fix: any of: \.py$
  lint-js-fix: any of: \.(js|jsx|ts|tsx)$
  lint-py-check: any of: \.py$
  lint-js-check: any of: \.(js|jsx|ts|tsx)$
